<div class="container mgtop">
  <h3 class="heading-txt mb-3 text-center">Contact Us</h3>
  <p class="sub-heading text-center">
    Have questions about your financial future? Our advisers are here to help.
  </p>
</div>

<div class="container my-5 rounded-5 mgtop">
  <div class="row bg-white rounded-5 g-4 align-items-center p-lg-5 p-2">
    <!-- Left Column: Form -->
    <div class="col-lg-6 col-md-12">
      <h3 class="mb-3 headingtxt">Get in touch now</h3>
      <p class="mb-4 text-Size">
        For any questions or concerns, please don’t hesitate to contact Wealthmax using the
        information provided below.
      </p>

      <form
        [formGroup]="contactForm"
        (ngSubmit)="onSubmit()"
        class="row g-3 lightboxshadow bg-white p-sm-4 rounded-4 pd12"
      >
        <!-- Full Name -->
        <!-- Full Name -->
        <div class="col-md-12">
          <label class="form-label">Full Name</label>
          <input
            type="text"
            class="form-control"
            formControlName="fullName"
            placeholder="First name"
            (input)="onNameInput($event)"
          />
          <div class="form-text error">
            <small *ngIf="contactForm.get('fullName')?.touched">
              <span *ngIf="contactForm.get('fullName')?.hasError('required')">
                First name is required
              </span>
              <span *ngIf="contactForm.get('fullName')?.hasError('pattern')">
                Please enter a valid name (letters and spaces only)
              </span>
            </small>
          </div>
        </div>

        <!-- Email -->
        <div class="col-md-12">
          <label class="form-label">Email</label>
          <input
            type="email"
            class="form-control"
            formControlName="emailId"
            placeholder="example@domain.com"
          />

          <div class="form-text error">
            <small *ngIf="contactForm.get('emailId')?.touched">
              <span *ngIf="contactForm.get('emailId')?.hasError('required')">
                Email is required
              </span>
              <span *ngIf="contactForm.get('emailId')?.hasError('pattern')">
                Please enter a valid email address
              </span>
            </small>
          </div>
        </div>

        <!-- Phone Number -->
        <div class="col-md-12">
          <label for="contactNumber" class="form-label">Contact Number</label>
          <input
            id="contactNumber"
            type="tel"
            class="form-control"
            placeholder="+441234567890"
            formControlName="contactNumber"
            autocomplete="tel"
            inputmode="tel"
            required
          />

          <div class="form-text error">
            <div
              *ngIf="(f.contactNumber.touched || f.contactNumber.dirty) && f.contactNumber.invalid"
              class="error"
            >
              <div *ngIf="f.contactNumber.errors?.required">Contact Number is required</div>
              <div *ngIf="f.contactNumber.errors?.pattern">
                Please enter a valid contact number:
                <br />
                • 10 digits without “+” (e.g. 9876543210) <br />
                • or +CC followed by 10 digits (e.g. +441234567890 or +44 1234567890)
              </div>
            </div>
          </div>
        </div>

        <!-- Product Interested (custom multiselect) -->
        <div class="form-group full-width position-relative">
          <label class="mb-2 d-block fw-semibold">Product Interested</label>

          <div class="row">
            <div
              class="col-md-4 col-sm-6 col-lg-6 col-xl-6 col-xxl-4 col-12"
              *ngFor="let s of products"
              style="padding-inline-start: 2.5%"
            >
              <div class="checkbox-item d-flex align-items-center">
                <div>
                  <input
                    type="checkbox"
                    class="custom-checkbox"
                    [id]="s.code"
                    (change)="toggleService(s.code)"
                    [checked]="isChecked(s.code)"
                  />
                </div>
                <div class="d-flex align-items-center">
                  <label [for]="s.code" class="sizetxt mb-0">
                    {{ s.name }}
                  </label>
                </div>
              </div>
            </div>
          </div>

          <small
            class="error"
            *ngIf="
              contactForm.get('products')?.touched &&
              contactForm.get('products')?.hasError('required')
            "
          >
            Please select at least one product.
          </small>
        </div>

        <!-- Consent -->
        <!-- Consent Checkbox -->

        <div class="form-group full-width">
          <label class="form-check">
            <input
              type="checkbox"
              formControlName="consent"
              class="form-check-input"
              style="margin-top: -2px"
            />
            <span style="margin: 2px 0px 0px 10px">
              By completing your information below, you agree for us to contact you via phone,
              email, post or SMS.
            </span>
          </label>
          <small
            class="error"
            *ngIf="
              contactForm.get('consent')?.touched &&
              contactForm.get('consent')?.hasError('required')
            "
          >
            You must agree before submitting.
          </small>
        </div>

        <!-- Submit -->
        <div class="col-12">
          <button
            type="submit"
            class="btnall w-100 fw-semibold d-flex justify-content-center align-items-center gap-2"
            style="border: none; color: white; padding-inline: 0"
          >
            <i class="bi bi-send" style="font-size: 16px; font-weight: 500"></i>
            Submit
          </button>
        </div>
        <!-- Social Icons -->
        <div class="col-12 mt-lg-4 mt-3 pb-2 pb-md-1">
          <h5 class="fw-semibold">Follow Us On</h5>
          <div class="d-flex gap-3">
            <a href="https://www.linkedin.com/company/wealthmax/" target="_blank">
              <img src="contactus/Linkedin.svg" alt="LinkedIn" width="40" />
            </a>
            <a href="https://www.facebook.com/WealthmaxUK" target="_blank"
              ><img src="contactus/Facebook.svg" alt="Facebook" width="40"
            /></a>
            <a href="https://www.instagram.com/wadvisers/" target="_blank"
              ><img src="contactus/Instagram.svg" alt="Instagram" width="40"
            /></a>
            <a href="https://twitter.com/WAdvisers" target="_blank"
              ><img src="contactus/X.svg" alt="Twitter" width="40"
            /></a>
          </div>
        </div>
      </form>
    </div>

    <!-- Right Column: Image -->
    <div class="col-lg-6 col-md-12 text-center">
      <img src="contactus/callbackcu.png" alt="callback image" class="img-fluid rounded-4" />
    </div>
  </div>
</div>

<!-- <div class="container overflow-y-hidden py-3">
  <div class="row text-center text-md-start gy-4 gy-md-0 align-items-center">
    <div
      class="mb-2 col-6 col-lg-3 d-flex flex-column align-items-center align-items-md-start"
    >
      <img src="contactus/c11.png" alt="no img found" class="icon-img mb-2" />
      <div class="icons_name">Email</div>
      <div class="icons_address"><u>contact&#64;wealthmax.co.uk</u></div>
    </div>

    <div
      class="mb-2 col-6 col-lg-3 d-flex flex-column align-items-center align-items-md-start"
    >
      <img src="contactus/c12.png" alt="no img found" class="icon-img mb-2" />
      <div class="icons_name">Phone</div>
      <div class="icons_address"><u>+44 2036 758 998</u></div>
    </div>

    <div
      class="mb-2 col-6 col-lg-3 d-flex flex-column align-items-center align-items-md-start"
    >
      <img src="contactus/c13.png" alt="no img found" class="icon-img mb-2" />
      <div class="icons_name">Office Timings</div>
      <div class="icons_address">10:30 AM to 6:30 PM</div>
    </div>

    <div
      class="mb-2 col-6 col-lg-3 d-flex flex-column align-items-center align-items-md-start"
    >
      <img src="contactus/c14.png" alt="no img found" class="icon-img mb-2" />
      <div class="icons_name">Office Days</div>
      <div class="icons_address">Monday to Friday</div>
    </div>
  </div>
</div> -->

<div class="container overflow-y-hidden py-3">
  <div class="row text-center justify-content-center gy-4">
    <div class="col-6 col-sm-3 d-flex flex-column align-items-center">
      <div class="icon-box email-bg d-flex justify-content-center align-items-center mb-2">
        <img src="contactus/c11.png" alt="no img found" class="icon-img" />
      </div>
      <div class="icons_name text-muted mt-2">Email</div>
      <div class="icons_address mt-2">
        <a class="text-black" href="mailto:contact@wealthmax.co.uk" target="_blank"
          ><u>contact&#64;wealthmax.co.uk</u></a
        >
      </div>
    </div>

    <div class="col-6 col-sm-3 d-flex flex-column align-items-center">
      <div class="icon-box phone-bg d-flex justify-content-center align-items-center mb-2">
        <img src="contactus/c12.png" alt="no img found" class="icon-img" />
      </div>
      <div class="icons_name text-muted mt-2">Phone</div>
      <div class="icons_address mt-2">
        <a class="text-black" href="tel:+442036758998"><u>+44 2036 758 998</u></a>
      </div>
    </div>

    <div class="col-6 col-sm-3 d-flex flex-column align-items-center">
      <div class="icon-box time-bg d-flex justify-content-center align-items-center mb-2">
        <img src="contactus/c13.png" alt="no img found" class="icon-img" />
      </div>
      <div class="icons_name text-muted mt-2">Office Timings</div>
      <div class="icons_address mt-2">10:30 AM to 6:30 PM</div>
    </div>

    <div class="col-6 col-sm-3 d-flex flex-column align-items-center">
      <div class="icon-box day-bg d-flex justify-content-center align-items-center mb-2">
        <img src="contactus/c14.png" alt="no img found" class="icon-img" />
      </div>
      <div class="icons_name text-muted mt-2">Office Days</div>
      <div class="icons_address mt-2">Monday to Friday</div>
    </div>
  </div>
</div>

<div class="py-5 position-relative container overflow-hidden">
  <div *ngIf="isMapLoading" class="map-loader">
    <div class="spinner"></div>
  </div>

  <div class="mapshowing">
    <iframe
      class="w-100 h-100"
      [src]="mapUrl"
      (load)="onMapLoad()"
      allowfullscreen
      referrerpolicy="no-referrer-when-downgrade"
    >
    </iframe>
  </div>
</div>
