<div class="container my-5">
  <h1 class="text-center bannerheadertxt txtorange mt-5 mb-5">
    Fair Treatment of Customers
  </h1>
  <p class="textSize">
    At Wealthmax Financial Advisers Limited we are committed to giving you
    excellent customer service and treating you fairly. We are fully committed
    to providing the highest standards of client service and advice and we never
    forget that you have a choice of supplier and are grateful that you’ve
    chosen us. Fair Treatment of Customers is one of the key principles set by
    the Financial Conduct Authority to ensure fair treatment of customers, by
    improving standards across the financial industry. As a part of this,
    Wealthmax Financial Advisers Limited follows the relevant aspects of the
    Financial Conduct Authority’s six guiding principles on how to engage with
    our customers. These are known as the 6 principles and govern how we
    communicate with customers, the level of service we provide and the fairness
    of our products and procedures.
  </p>

  <div class="mt-5">
    <h4 class=" txtorange fs-32 mb-4 ">
      The six principles for fair treatment of customers
    </h4>
    <ul class="textSize">
      <li class="mb-3">
        <span class="fw-bold blue-text">Outcome 1: </span>Consumers can be
        confident that they are dealing with firms where the fair treatment of
        customers is central to the corporate culture.
      </li>
      <li class="mb-3">
        <span class="fw-bold blue-text">Outcome 2: </span>Products and services
        marketed and sold in the retail market are designed to meet the needs of
        identified consumer groups and are targeted accordingly.
      </li>
      <li class="mb-3">
        <span class="fw-bold blue-text">Outcome 3: </span>Consumers are provided
        with clear information and are kept appropriately informed before,
        during and after the point of sale.
      </li>
      <li class="mb-3">
        <span class="fw-bold blue-text">Outcome 4: </span>Where consumers
        receive advice, the advice is suitable and takes account of their
        circumstances.
      </li>
      <li class="mb-3">
        <span class="fw-bold blue-text">Outcome 5: </span>Consumers are
        provided with products that perform as firms have led them to expect,
        and the associated service is of an acceptable standard and as they have
        been led to expect.
      </li>
      <li class="mb-3">
        <span class="fw-bold blue-text">Outcome 6: </span>Consumers do not face
        unreasonable post-sale barriers imposed by firms to change product,
        switch provider, submit a claim or make a complaint.
      </li>
    </ul>
  </div>
  <div class="mt-5">
    <h4 class=" txtorange fs-32 mb-4">
      Ways we meet these requirements in the day to day running of our business
    </h4>
    <ul class="textSize">
      <li class="mb-3">
        We continually aim to understand the needs of our clients.
      </li>
      <li class="mb-3">
        We ensure that the marketing of our products is appropriately targeted,
        clear, not misleading and highlights the risks/conditions as well as the
        key features/benefits of a product.
      </li>
      <li class="mb-3">
        We make certain our clients understand the risks associated with our
        services at the outset of an instruction.
      </li>
      <li class="mb-3">
        We keep our clients fully informed in a clear and fair manner that is
        unambiguous and not misleading.
      </li>
      <li class="mb-3">
        We ensure our services are delivered with clarity and transparency and
        do not contain hidden conditions or rely on complex technical
        definitions.
      </li>
      <li class="mb-3">
        Any advice provided will be appropriate and take into account the
        customer’s individual needs and circumstances.
      </li>
      <li class="mb-3">
        We take our clients’ privacy seriously and ensure that our staff are
        aware of and follow rules in relation to data protection to ensure that
        clients’ details are kept secure and confidential.
      </li>
      <li class="mb-3">
        We take any complaint seriously and will deal with any complaints
        promptly and make improvements to our operations where required.
      </li>
    </ul>
  </div>
</div>
