<div class="bgclr_main">
  <app-banner
    [title]="'Mortgage'"
    [subtitle]="
      'Shape a future of stability and comfort with trusted mortgage guidance designed to turn aspirations into lasting reality'
    "
    [desktopImage]="'/desktop image/mortgage.webp'"
    [mobileImage]="'/Mobile img/mortgage.webp'"
    [buttons]="[
      {
        label: 'Book a Free Consultation',
        class: 'btn btn-lg bg-white txtorange',
        action: 'dialog'
      }
    ]"
  ></app-banner>

  <!-- first section -->
  <div class="gradient-bg">
    <div class="container mgtop">
      <div class="row">
        <div class="col-12 col-lg-6">
          <h2 class="txtorange heading-txt">
            Why Choose Wealthmax for your Mortgage?
          </h2>
          <div>
            <p class="textSize text-justify">
              With so many options available, finding the right mortgage can
              feel overwhelming. At Wealthmax, we provide clear and tailored
              mortgage advice to help you understand your choices and make
              informed decisions.
            </p>
            <p class="textSize text-justify">
              Our advisers come from diverse backgrounds and are well-placed to
              support clients from a range of communities, including those with
              overseas ties. We take the time to explain the process, highlight
              potential risks, and guide you through each stage.
            </p>
            <p class="textSize text-justify">
              We focus on building long-term relationships with our clients and
              work hard to recommend mortgage products that are suitable for
              your individual needs and circumstances.
            </p>
          </div>
        </div>
        <!-- Right side images -->
        <div class="col-12 col-lg-6 mt-3">
          <div class="row">
            <div class="d-flex position-relative image-section">
              <!-- Left big image -->
              <div class="img-box big-img h-100 me-1">
                <img
                  src="/mortage/main.png"
                  alt="Main Image"
                  class="animated-img main-img"
                />
              </div>

              <!-- Right stacked images -->
              <div class="col-6 d-flex flex-column">
                <div class="img-box small-img flex-fill mb-2">
                  <img
                    src="/mortage/top.png"
                    alt="Top Image"
                    class="animated-img top-img"
                  />
                </div>
                <div class="img-box small-img flex-fill">
                  <img
                    src="/mortage/bottom.png"
                    alt="Bottom Image"
                    class="animated-img bottom-img"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="container py-3 py-md-5 mt-3 text-center">
      <P class="txtorange heading-txt topMargin">
        Calculate your Mortgage Rates Now!</P
      >
      <div class="p-2">
        <iframe
          class="p-3"
          style="background: white; border-radius: 12px"
          src="https://webtools.twenty7tec.com/Sourcing/WebToolsTwo?apiKey=b35a7324-3af6-4760-802c-3f08dcf43e98&pluginKey=cde198f9-a1ef-4c9b-a5a9-89c8a6a63573"
          width="100%"
          height="670px"
        ></iframe>
      </div>
    </div> -->

    <div class="container mgtop">
      <!-- Heading -->
      <h2 class="heading-txt mb-3 text-center">
        Find Your Best Mortgage Deal in Seconds
      </h2>
      <p class="text-Size text-justify text-lg-center mb-5">
        Tired of guessing your repayments or comparing endless offers? Our
        intelligent Mortgage Calculator does the hard work for you — analyzing
        real-time data from trusted lenders to reveal tailored deals that match
        your goals.
      </p>

      <!-- Card -->
      <div class="calc-container">
        <div class="calc-card">
          <h4>Best Buy Calculator</h4>
          <p>
            Compare mortgage rates with top lenders and find the mortgage deal
            that’s right for you.
          </p>
          <button class="calc-btn" routerLink="/mortgage-calculator/best-buys">
            Compare Rates
          </button>
        </div>

        <div class="calc-card">
          <h4>Mortgage rates and repayments</h4>
          <p>
            Compare mortgage deals and find out what your interest rate and
            monthly repayments could be.
          </p>
          <button class="calc-btn" routerLink="/mortgage-calculator/repayment-calculator">
            Calculate Your Repayment
          </button>
        </div>
      </div>
    </div>

    <!-- What we Offer? -->
    <div class="container py-3 py-md-5 mt-3 text-center">
      <h2 class="txtorange heading-txt topMargin">What we Offer?</h2>
      <p class="textSize mt-4 text-justify text-md-center">
        Protection planning is about creating a financial safety net that
        ensures you, your family, or your business are supported in the face of
        life’s uncertainties—such as illness, loss of income, or death.
      </p>

      <!-- Cards Grid -->
      <div class="row g-4 justify-content-center mt-3 mb-3">
        <div
          class="col-12 col-sm-10 col-md-6 col-md-12 col-lg-6"
          *ngFor="let card of cards"
        >
          <div
            class="card h-100 border-0 shadow-sm rounded-4 border-card hover-card text-start p-0 p-md-3"
          >
            <div class="card-body d-flex flex-column align-items-start">
              <img
                [src]="card.icon"
                alt="icon"
                class="mb-3 card-icon icon-img"
              />
              <h5 class="fw-bold btn-text mb-2">{{ card.title }}</h5>
              <p class="mb-3 text-muted textSize text-start">
                {{ card.description }}
              </p>
              <a
                [routerLink]="card.link"
                routerLinkActive="active-link"
                class="txtorange mt-auto underline-link"
              >
                Learn More
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- last section -->
  <div class="container mgtopbottom p-1 p-lg-2">
    <app-last-btn-comp
      [align]="'center'"
      [title]="'Looking for a Mortgage?'"
      [subtitle]="
        'Our advisers are experienced in financing and have access to a wide range of mortgage options. Contact us today to discuss your mortgage requirements and secure the ideal financing solution.'
      "
      [buttonText]="'Speak to our Advisers'"
      [buttonLink]="'/contact-us'"
    />
  </div>
</div>
