<div>
  <!-- custom-fixed -->
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container pt-sm-1 pb-sm-1">
      <a class="navbar-brand">
        <img
          class="company-logo"
          src="new-page1/ext-page-nav.svg"
          height="44"
          alt=""
          loading="lazy"
          style="margin-top: -1px"
        />
      </a>
      <div class="d-flex align-items-center">
        <a
          href="https://wealthmax-financial-advisers.prequo.co.uk/"
          target="_blank"
          ><button
            data-mdb-ripple-init
            type="button"
            class="btn btn-primary border-0 btn_all"
          >
            Get Your Free Quote
          </button></a
        >
      </div>
    </div>
  </nav>
</div>
<!-- section-2 -->
<div class="container pt-2">
  <div class="row h-100">
    <div class="col-12 col-md-6">
      <!-- d-flex flex-column justify-content-center align-middle align-items-center h-100 -->
      <div
        class="d-flex flex-column justify-content-center align-middle align-items-start h-100"
      >
        <h1 class="heading-banner">
          Get Your <span style="color: #eb7124">Free</span> Life Cover Quote
     
        </h1>


        <ul class="list-unstyled mt-4">
          <li class="d-flex align-items-center py-2">
            <i class="bi bi-check-circle text-primary me-3 fs-5"></i>
            <span class="para-text border-bottom d-inline-block pb-1">
              Fast results — under 2 minutes
            </span>
          </li>
          <li class="d-flex align-items-center py-2">
            <i class="bi bi-check-circle text-primary me-3 fs-5"></i>
            <span class="para-text border-bottom d-inline-block pb-1">
              Save money by checking real-time Quotes
            </span>
          </li>
          <li class="d-flex align-items-center py-2">
            <i class="bi bi-check-circle text-primary me-3 fs-5"></i>
            <span class="para-text border-bottom d-inline-block pb-1">
              100% free to use
            </span>
          </li>
        </ul>
        <div class="d-flex align-items-center">
          <a
            href="https://wealthmax-financial-advisers.prequo.co.uk/"
            target="_blank"
            ><button
              data-mdb-ripple-init
              type="button"
              class="btn btn-primary border-0 btn_all"
            >
              Get Your Free Quote
            </button></a
          >
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 position-relative mt-1">
      <img
        class="banner-img"
        src="new-page1/Group 1000006215.svg"
        alt="no banner-found"
      />
    </div>
  </div>
</div>

<!-- <div class="sm bg position-relative">
  <div class="container left-section">
    <div class="row center-container position-absolute bottom-0">
      <div
        class="txt-sec col-12 col-md-6 h-md-100 h-80 d-flex flex-column justify-content-md-center align-items-md-start position-relative"
      >
        <h1 class="heading-banner">
          Get Your <span style="color: #eb7124">Free</span> Life Cover Quote
          Online in Minutes
        </h1>
        <div class="d-flex">
          <div>
            <a
              href="https://wealthmax-financial-advisers.prequo.co.uk/"
              target="_blank"
            >
              <button
                data-mdb-ripple-init
                type="button"
                class="btn btn-primary me-3 border-0 btn_all"
              >
                Get Your Free Quote
              </button></a
            >
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6 position-relative h-100">
        <img src="new-page1/main-img.png" class="main-img" />
      </div>
    </div>
  </div>
  <img class="bottom-img" src="new-page1/hero-bottom.svg.svg" />
</div> -->

<div class="container text-center mg-topbottom">
  <h2 class="banner-belowHead">
    Compare Life cover Premiums from UK’s leading providers.
    <span class="highlight">No Hidden Fees</span>
  </h2>

  <!-- <div class="container-sm mt-4">
    <div class="row orange-panel w-80 mx-auto text-white fw-medium">
      <div
        class="col-12 col-md-4 text-center py-lg-4 py-3 text-panel border-start border-light border-opacity-50"
      >
        Fast results – under 2 minutes
      </div>
      <div
        class="col-12 col-md-4 text-center py-lg-4 py-3 border-start text-panel border-light border-opacity-50"
      >
        Save money by checking real-time Quotes
      </div>
      <div
        class="col-12 col-md-4 text-center py-lg-4 py-3 border-start text-panel border-light border-opacity-50"
      >
        100% free to use
      </div>
    </div>
  </div> -->
</div>
<div class="marquee-container mt-5 mb-5">
  <div class="marquee-track">
    <div class="marquee-content">
      <ng-container *ngFor="let item of items.concat(items)">
        <img
          [src]="item.img"
          [alt]="item.alt"
          style="border-radius: 0px !important"
        />
      </ng-container>
    </div>
  </div>
</div>

<div class="container my-5 custom-section">
  <div class="row">
    <div class="col-md-5 text-center">
      <div class="position-relative d-inline-block p-4">
        <img
          src="new-page/wl1.png"
          alt="Life Insurance"
          class="img-fluid rounded-pill hover-effect"
        />
      </div>
    </div>

    <div class="col-md-7 py-5">
      <h1 class="text-heading text-dark mb-4">Why Life Insurance Matters?</h1>
      <p class="para-txt text-justify mb-3">
        Getting a life insurance is not just getting another policy, instead it
        is getting a mental piece a reassurance that your loved ones and your
        dependants’ financial interests are preserved even after if you are not
        there to look after for them.
      </p>
      <p class="para-txt text-justify mb-4">
        A life Insurance policy helps you secure the financial needs of your
        dependants if the unexpected happens. It pays a lumpsum amount to your
        loved ones which could be used to pay mortgages, child’s education or
        any other bills.
      </p>
      <a
        href="https://wealthmax-financial-advisers.prequo.co.uk/"
        target="_blank"
        ><button class="btn btn-primary me-3 border-0 btn_all">
          Get Your Free Quote
        </button></a
      >
    </div>
  </div>
</div>
<!-- //section 2 -->
<div class="container my-5 custom-section">
  <div class="row">
    <div class="col-md-7 py-5">
      <h1 class="text-heading text-dark mb-4">
        When is the Right Time to Get a Life Insurance?
      </h1>
      <p class="para-txt text-justify mb-3">
        Getting a life insurance is not just getting another policy, instead it
        is getting a mental piece a reassurance that your loved ones and your
        dependants’ financial interests are preserved even after if you are not
        there to look after for them.
      </p>
      <p class="para-txt text-justify mb-4">
        This has a simple answer: The right time is before you need it. Yes the
        life insurance bought at its earliest is the most suitable deal, the
        younger the healthier you are, the easier it is to lock in affordable
        premiums. Beyond that, the “right time” often comes down to life events
        where others depend on you financially like:
      </p>
      <ul class="list-unstyled mt-4">
        <li class="d-flex align-items-center py-2">
          <i class="bi bi-check-circle text-primary me-3 fs-5"></i>
          <span class="para-text border-bottom d-inline-block pb-1">
            Buying a Home or Taking a Mortgage
          </span>
        </li>
        <li class="d-flex align-items-center py-2">
          <i class="bi bi-check-circle text-primary me-3 fs-5"></i>
          <span class="para-text border-bottom d-inline-block pb-1">
            Starting a family / Having Children
          </span>
        </li>
        <li class="d-flex align-items-center py-2">
          <i class="bi bi-check-circle text-primary me-3 fs-5"></i>
          <span class="para-text border-bottom d-inline-block pb-1">
            Getting Married
          </span>
        </li>
        <li class="d-flex align-items-center py-2">
          <i class="bi bi-check-circle text-primary me-3 fs-5"></i>
          <span class="para-text border-bottom d-inline-block pb-1">
            New job
          </span>
        </li>
        <li class="d-flex align-items-center py-2">
          <i class="bi bi-check-circle text-primary me-3 fs-5"></i>
          <span class="para-text border-bottom d-inline-block pb-1">
            Starting a business
          </span>
        </li>
      </ul>
    </div>
    <div class="col-md-5 text-center">
      <div class="position-relative d-inline-block p-4">
        <img
          src="new-page1/Doctor.png"
          alt="Doctor Checking Patient"
          class="img-fluid rounded-pill hover-effect"
        />
      </div>
    </div>
  </div>
</div>

<div class="container py-5">
  <div>
    <h2 class="text-heading mb-5">Generate Quote in 3 Easy Steps:</h2>
  </div>
  <div class="row align-items-center">
    <!-- Left Section (Steps) -->
    <div class="col-lg-6">
      <!-- Step 1 -->
      <div class="mb-4">
        <div class="mb-4 step-img">
          <img
            src="new-page1/w3.png"
            alt="Answer Questions"
            style="border-radius: 0% !important"
          />
        </div>
        <div>
          <h5 class="t-heading mb-2">Answer Few Questions:</h5>
          <p class="fft-3 text-justify mb-3">
            Answer a few simple questions and basic details. It only takes a few
            minutes and helps us tailor Quotes to your needs.
          </p>
        </div>
      </div>
      <hr />

      <!-- Step 2 -->
      <div class="mb-4">
        <div class="mb-4 step-img">
          <img
            src="new-page1/w1.png"
            alt="Search Market"
            style="border-radius: 0% !important"
          />
        </div>
        <div>
          <h5 class="t-heading mb-2">We search the market</h5>
          <p class="fft-3 text-justify mb-3">
            Our system instantly scans top trusted insurance providers across
            the UK and generates Quotes which are most suitable and affordable
            for you.
          </p>
        </div>
      </div>
      <hr />

      <!-- Step 3 -->

      <div class="mb-4 step-img">
        <img
          src="new-page1/w2.png"
          alt="Compare Quotes"
          style="border-radius: 0% !important"
        />
      </div>
      <div>
        <h5 class="t-heading mb-2">Compare Quotes and choose yours:</h5>
        <p class="fft-3 text-justify mb-3">
          See the price features and benefits clearly laid out. No Jargon. Just
          Straight comparison so you know exactly what you are getting.
        </p>
      </div>
    </div>

    <!-- Right Section (Image) -->
    <div class="col-lg-6 text-center position-relative">
      <!-- Orange Background Shape -->
      <div class="orange-shape"></div>
      <img
        src="/new-page1/image (1).png"
        alt="laptop"
        class="img-fluid position-relative hover-effect"
      />
    </div>
  </div>
</div>

<div class="bg-main-color">
  <div>
    <div class="mginline mg-top">
      <div class="mb-3">
        <h1 class="text-heading mb-5">
          Benefits of Getting Life Insurance with Wealthmax
        </h1>
      </div>

      <div class="row gx-4 gy-4">
        <!-- Card 1 -->
        <div class="col-12 col-lg-6">
          <div class="cards hover-card h-100">
            <div class="d-flex justify-content-between align-items-center m-1">
              <div>
                <img
                  src="new-page1/Frame.png"
                  alt="no img"
                  style="border-radius: 0% !important"
                />
              </div>
              <div class="size_number">1</div>
            </div>
            <div>
              <h3 class="cards-heading">
                Access to Leading Providers in the UK:
              </h3>
              <p class="cards-para">
                We work with a Wide panel of Leading providers in the UK, giving
                you choice and competitive pricing without the hassle of
                applying at multiple places.
              </p>
            </div>
          </div>
        </div>

        <!-- Card 2 -->
        <div class="col-12 col-lg-6">
          <div class="cards hover-card h-100">
            <div class="d-flex justify-content-between align-items-center m-1">
              <div>
                <img
                  src="new-page/c2.png"
                  alt="no img"
                  style="border-radius: 0% !important"
                />
              </div>
              <div class="size_number">2</div>
            </div>
            <div>
              <h3 class="cards-heading">
                Personalised Advice, Not Generic Quotes:
              </h3>
              <p class="cards-para">
                We don’t just show you numbers, we help you understand which
                cover truly fits your needs, whether it’s protecting your
                mortgage, your family’s lifestyle, or future education costs.
              </p>
            </div>
          </div>
        </div>

        <!-- Card 3 -->
        <div class="col-12 col-lg-6">
          <div class="cards hover-card h-100">
            <div class="d-flex justify-content-between align-items-center m-1">
              <div>
                <img
                  src="new-page/c3.png"
                  alt="no img"
                  style="border-radius: 0% !important"
                />
              </div>
              <div class="size_number">3</div>
            </div>
            <div>
              <h3 class="cards-heading">Expert Guidance at Every Step:</h3>
              <p class="cards-para">
                Understanding your exact requirements and selecting a suitable
                product accordingly could be a complex job, Our advisers make it
                simple guiding you through the options, so you feel confident in
                your decision.
              </p>
            </div>
          </div>
        </div>

        <!-- Card 4 -->
        <div class="col-12 col-lg-6">
          <div class="cards hover-card h-100">
            <div class="d-flex justify-content-between align-items-center m-1">
              <div>
                <img
                  src="/new-page/c4.png"
                  alt="no img"
                  style="border-radius: 0% !important"
                />
              </div>
              <div class="size_number">4</div>
            </div>
            <div>
              <h3 class="cards-heading">Peace of Mind:</h3>
              <p class="cards-para">
                Most importantly, you’ll know your family is financially
                protected if the unexpected happens, with a policy designed
                around your priorities, not just a comparison tool.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- 2nd section -->
  <div class="bg-clr-lg pb-5 mb-5 mt-5">
    <div class="mg-top mginline">
      <div>
        <h2 class="text-heading text-center">
          Other Important Insurance Options Available
        </h2>
      </div>
      <div class="row gx-5 gy-4 justify-content-between mt-5">
        <div class="col-12 col-lg-4">
          <div class="small-cards d-flex flex-column h-100">
            <img src="new-page/r1.png" alt="no img found" />
            <h3 class="cards-heading">Critical Illness Cover</h3>
            <p class="cards-para">
              Provides a tax-free lump sum if you’re diagnosed with a serious
              illness (like cancer, stroke, heart attack, MS, etc.). Helps with
              treatment costs, living expenses, or mortgage repayments while you
              recover.
            </p>
          </div>
        </div>
        <div class="col-12 col-lg-4">
          <div class="small-cards d-flex flex-column h-100">
            <img src="new-page/r2.png" alt="no img found" />
            <h3 class="cards-heading">Income Protection Cover</h3>
            <p class="cards-para">
              Replaces part of your income if you’re unable to work due to
              illness or injury. Usually pays monthly until you’re well enough
              to return to work or reach retirement age.
            </p>
          </div>
        </div>
        <div class="col-12 col-lg-4">
          <div class="small-cards d-flex flex-column h-100">
            <img src="/new-page/r3.png" alt="no img found" />
            <h3 class="cards-heading">Family Protection Insurance</h3>
            <p class="cards-para">
              Broad category that ensures financial stability for dependents —
              can be structured as a lump sum, monthly benefit, or combination.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- 3 section carousel -->
<div
  class="mg-top testimonial-section position-relative d-flex justify-content-center align-items-center"
  style="vertical-align: middle"
>
  <div class="overlay">
    <div
      id="demo"
      class="carousel slide carousel-fade"
      data-bs-ride="carousel"
      data-bs-interval="3000"
    >
      <div class="carousel-inner">
        <div
          *ngFor="let item of carouselData; let i = index"
          class="carousel-item"
          [class.active]="i === 0"
        >
          <div class="carousel-caption-custom text-center">
            <h2 class="section-title">People Talk About Us</h2>

            <div class="row justify-content-center align-items-center">
              <div class="person-info col-auto">
                <img
                  [src]="item.src"
                  [alt]="item.alt"
                  class="person-img rounded-circle"
                />
              </div>
              <div class="col-auto">
                <h5>{{ item.name }}</h5>
                <p class="address">{{ item.address }}</p>
              </div>
            </div>

            <p class="comment">“{{ item.comment }}”</p>
          </div>
        </div>
      </div>

      <!-- Indicators -->
      <div class="carousel-indicators">
        <button
          *ngFor="let item of carouselData; let i = index"
          type="button"
          data-bs-target="#demo"
          [attr.data-bs-slide-to]="i"
          [class.active]="i === 0"
          aria-current="i === 0 ? 'true' : 'false'"
          aria-label="Slide {{ i + 1 }}"
        ></button>
      </div>

      <!-- Left / Previous control -->
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#demo"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>

      <!-- Right / Next control -->
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#demo"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</div>

<div class="mginline py-5">
  <h2 class="text-center text-heading" style="margin: 5% auto">FAQs</h2>

  <!-- Outer container with border + shadow -->
  <div
    class="p-sm-4 faq-container"
    style="background-color: rgba(254, 251, 249, 0.986)"
  >
    <div class="accordion" id="faqAccordion">
      <!-- FAQ 1 -->
      <div class="accordion-item faq-card mb-3">
        <h2 class="accordion-header" id="headingOne">
          <button
            class="accordion-button faq-header collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseOne"
            aria-expanded="false"
            aria-controls="collapseOne"
          >
            <span class="question"
              >What Life Cover is good for Senior Citizens?</span
            >
            <span class="toggle-btn"></span>
          </button>
        </h2>
        <div
          id="collapseOne"
          class="accordion-collapse collapse"
          aria-labelledby="headingOne"
          data-bs-parent="#faqAccordion"
        >
          <div
            class="accordion-body faq-body-inner question-answer light-orange"
          >
            That depends on your exact circumstances. Many seniors consider over
            50’s plans that offer a fixed lump sum to their beneficiaries upon
            death. However, it must be highlighted that the choice of policy is
            more about your circumstances than just your age. Over 50s Plans are
            specifically targeted at more mature clients. However, because the
            application process does not involve any medical questions, the
            price is higher than the equivalent cover for a healthy person. As
            such, whatever your age, it’s best to talk to an experienced
            professional for guidance.
          </div>
        </div>
      </div>

      <!-- FAQ 2 -->
      <div class="accordion-item faq-card mb-3">
        <h2 class="accordion-header" id="headingTwo">
          <button
            class="accordion-button faq-header collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseTwo"
            aria-expanded="false"
            aria-controls="collapseTwo"
          >
            <span class="question"
              >Does Life Protection Cover Accidental Cover?</span
            >
            <span class="toggle-btn"></span>
          </button>
        </h2>
        <div
          id="collapseTwo"
          class="accordion-collapse collapse"
          aria-labelledby="headingTwo"
          data-bs-parent="#faqAccordion"
        >
          <div
            class="accordion-body faq-body-inner question-answer light-orange"
          >
            Yes, life insurance policies generally cover accidental death,
            giving your beneficiaries the payout they need. However, specifics
            can vary by policy, and certain exclusions may apply, such as deaths
            resulting from high-risk activities. As such, it's vital to review
            the policy details for any exclusions or conditions.
          </div>
        </div>
      </div>

      <!-- FAQ 3 -->
      <div class="accordion-item faq-card mb-3">
        <h2 class="accordion-header" id="headingThree">
          <button
            class="accordion-button faq-header collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseThree"
            aria-expanded="false"
            aria-controls="collapseThree"
          >
            <span class="question">Do I need Life Cover with no Mortgage?</span>
            <span class="toggle-btn"></span>
          </button>
        </h2>
        <div
          id="collapseThree"
          class="accordion-collapse collapse"
          aria-labelledby="headingThree"
          data-bs-parent="#faqAccordion"
        >
          <div
            class="accordion-body faq-body-inner question-answer light-orange"
          >
            Even without a mortgage, life cover can be beneficial, as it can
            offer vital cover for funeral costs, supporting dependents, and
            settling any outstanding debts. Assessing your individual and family
            needs can help determine if it's a prudent choice for you.
          </div>
        </div>
      </div>

      <!-- FAQ 4 -->
      <div class="accordion-item faq-card">
        <h2 class="accordion-header" id="headingFour">
          <button
            class="accordion-button faq-header collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseFour"
            aria-expanded="false"
            aria-controls="collapseFour"
          >
            <span class="question"
              >What is the best age to get life Cover?</span
            >
            <span class="toggle-btn"></span>
          </button>
        </h2>
        <div
          id="collapseFour"
          class="accordion-collapse collapse"
          aria-labelledby="headingFour"
          data-bs-parent="#faqAccordion"
        >
          <div
            class="accordion-body faq-body-inner question-answer light-orange"
          >
            The best age to get life cover is typically when you're young and
            healthy, as premiums are lower and coverage is easier to obtain.
            Choosing to insure yourself in your 20s or 30s can be
            cost-effective, giving you financial protection for the future as
            your financial and family responsibilities grow. That said, other
            types of cover might be more suitable for you until you have
            dependents to protect.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- 4 section -->
<div>
  <!-- Contact Form Section -->
  <div class="mginline my-5" #dropdownWrapper>
    <div class="row rounded-5 g-4 align-items-center pdadjust">
      <!-- Left Column: Form -->
      <div class="col-lg-6 col-md-12 order-2 order-lg-1">
        <h3 class="mb-3 text-heading">Get in touch now</h3>
        <p class="mb-4 question-answer">
          For any questions or concerns, please don’t hesitate to contact
          Wealthmax using the information provided below.
        </p>

        <form
          [formGroup]="contactForm"
          (ngSubmit)="onSubmit()"
          class="row g-3 lightboxshadow bg-white p-sm-4 rounded-4 pd12"
        >
          <!-- Full Name -->
          <div class="col-md-12">
            <label for="fullName">Full Name</label>
            <input
              id="fullName"
              type="text"
              formControlName="fullName"
              class="form-control"
              placeholder="Enter full name"
              (keypress)="allowOnlyLetters($event)"
              (blur)="trimFullName()"
            />

            <small class="error" *ngIf="contactForm.get('fullName')?.touched">
              <span *ngIf="contactForm.get('fullName')?.hasError('required')">
                Full name is required
              </span>
              <!-- <span *ngIf="contactForm.get('fullName')?.hasError('pattern')">
                Only alphabets are allowed
              </span> -->
            </small>
          </div>

          <!-- Email -->
          <div class="col-md-12">
            <label class="form-label">Email</label>
            <input
              type="email"
              class="form-control"
              formControlName="emailId"
              placeholder="@abc.co.uk"
              (blur)="validateEmail()"
              (input)="onEmailInput($event)"
            />
            <div class="form-text error">
              <small *ngIf="contactForm.get('emailId')?.touched">
                <span *ngIf="contactForm.get('emailId')?.hasError('required')">
                  Email is required
                </span>
                <span *ngIf="contactForm.get('emailId')?.hasError('pattern')">
                  Please enter a valid email id
                </span>
              </small>
            </div>
          </div>

          <!-- Phone Number -->
          <div class="col-12">
            <label class="form-label">Phone Number</label>
            <input
              type="tel"
              class="form-control"
              formControlName="contactNumber"
              placeholder="Enter phone number"
              maxlength="15"
            />
            <div class="form-text error">
              <small *ngIf="contactForm.get('contactNumber')?.touched">
                <span
                  *ngIf="contactForm.get('contactNumber')?.hasError('required')"
                >
                  Phone number is required
                </span>
                <span
                  *ngIf="contactForm.get('contactNumber')?.hasError('pattern')"
                >
                  Invalid UK phone number
                </span>
              </small>
              <!-- <small *ngIf="contactForm.get('contactNumber')?.hasError('minlength')">
               Invalid phone
              </small> -->
              <small
                *ngIf="contactForm.get('contactNumber')?.hasError('maxlength')"
              >
                Phone number cannot exceed 15 digits
              </small>
            </div>
          </div>

          <!-- Product Interested -->
          <div class="form-group full-width position-relative" #dropdownWrapper>
            <label>Product Interested</label>
            <div class="custom-multiselect">
              <div
                class="select-box f_input border p-2"
                (click)="toggleDropdown()"
              >
                <span class="selected-text" style="padding: 1%">
                  {{ getSelectedServicesLabel() }}
                </span>
                <span class="arrow-icon" style="float: right">
                  {{ dropdownOpen ? "▲" : "▼" }}
                </span>
              </div>

              <div class="options w-100" *ngIf="dropdownOpen">
                <div class="option-item ps-2 pt-2" *ngFor="let s of products">
                  <label
                    style="
                      cursor: pointer;
                      display: flex;
                      align-items: center;
                      width: 90%;
                    "
                  >
                    <input
                      type="checkbox"
                      [value]="s.code"
                      [checked]="isChecked(s.code)"
                      (change)="toggleService(s.code, $event)"
                      style="margin-right: 8px"
                    />
                    {{ s.name }}
                  </label>
                </div>
              </div>
            </div>
          </div>

          <!-- Consent -->
          <div class="col-12 form-check">
            <div class="question-answer">
              <input
                type="checkbox"
                class="form-check-input p-md-1"
                formControlName="consent"
              />

              By completing your information below, you agree for us to contact
              you via phone, email, post or SMS.
              <div class="form-text error">
                <small
                  *ngIf="
                    contactForm.get('consent')?.touched &&
                    contactForm.get('consent')?.hasError('required')
                  "
                >
                  You must agree before submitting.
                </small>
              </div>
            </div>
          </div>

          <!-- Submit -->
          <div class="col-12">
            <button
              type="submit"
              [disabled]="contactForm.invalid"
              class="btn btn-primary w-100 btn_all fw-semibold d-flex justify-content-center align-items-center gap-2 shadow-sm"
              style="
                background-color: #ff6600;
                border: none;
                color: white;
                padding-inline: 0;
              "
            >
              <i class="bi bi-send"></i>
              Submit
            </button>
          </div>
        </form>
      </div>

      <div class="col-lg-6 col-md-12 text-center order-1 order-lg-2">
        <img
          src="new-page/callbackcu.png"
          alt="callback image"
          class="img-fluid"
        />
      </div>
    </div>
  </div>
</div>
<div class="bg-white">
  <div
    class="mginline bg-white p-3 pe-2 footer-txt"
    style="font-family: Epilogue"
  >
    <p>
      Wealthmax Financial Advisers Limited Registered in England & Wales No.
      10501962. Registered Address: The Mille, 3rd Floor, River Suite, 1000
      Great West Road, Brentford, London, TW8 9DW. Authorised and Regulated by
      the Financial Conduct Authority under reference number No 766509. Details
      are available at https://register.fca.org.uk/. *Wills & Estate planning
      services are provided through Wealthmax Estate Planning Limited and are not
      regulated by the Financial Conduct Authority.
    </p>
    <p>
      Your Insurance policies may lapse if you do not keep up to date with
      regular premium payments, and you may not be covered in the event of a
      claim
    </p>
  </div>
  <div class="footer-arc-top footer-txt">
    <div class="arc"></div>
    <p class="text-center" style="font-family: Epilogue">
      © 2025 WealthMax — Securing Your Financial Future. All rights reserved.
    </p>
  </div>
</div>
