
.divheight{
  height: 200px;
}
.main{
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 80%;
}
.i1 {
  width: 70%; /* adjust as needed */
  height: 100%; /* adjust as needed */
  overflow: hidden;
  position: relative;
}
.i2 {
  width: 28%; /* adjust as needed */
  height: 100px; /* adjust as needed */
  overflow: hidden;
  position: absolute;
  bottom: 0;
  right: 0;
}
.i3{
    width: 28%; /* adjust as needed */
  height: 100px; /* adjust as needed */
  overflow: hidden;
  position: absolute;

  left: 0;

}
.i4{
    width: 70%; /* adjust as needed */
  height: 100%; /* adjust as needed */
  overflow: hidden;
  position: absolute;
  right: 0;

}

.zoomeffect{
  border-radius: 8px;
}



.zoomeffect img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.4s ease-in-out;
}

.zoomeffect:hover img {
  transform: scale(1.1); /* Zoom in */
}

.main>.zoomeffect img{
    width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.4s ease-in-out;

}
.main:hover img {
  transform: scale(1.2); /* Zoom in */
}
@media (min-width: 1100px) and (max-width: 1400px) {
  .a1 {
    display: flex;
    gap: 10px;
    height: 165px;
  }
}
@media (max-width: 576px) {
  .divheight{
    height: 150px;
  }
}

@media (max-width: 1100px) {
  .main{
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}
  .widthimage {
    width: 90%;
    height: auto;
  }
  .dflex {
    grid-template-columns: 1fr;
  }

}
@media (max-width: 767px) {


  .widthimage {
    width: 90%;
    height: auto;
  }
  .dflex {
    grid-template-columns: 1fr;
  }
  .m1 {
    display: flex;

    width: 100%;
    height: 36vh;
  }
}
