<div class="container mgtop">
  <div class="row g-4 align-items-center justify-content-center">
    <div class="col-12 col-lg-6 order-2 order-lg-1">
      <div class="main">
        <div
          style="display: flex; gap: 10px; position: relative"
          class="divheight"
        >
          <div class="i1 zoomeffect">
            <img src="/homepage/s1.png" alt="not found" />
          </div>
          <div class="i2 zoomeffect">
            <img src="/homepage/s2.png" alt="not found" />
          </div>
        </div>
        <div
          style="display: flex; gap: 10px; position: relative"
          class="divheight"
        >
          <div class="i3 zoomeffect">
            <img src="/homepage/s3.png" alt="not found" />
          </div>
          <div class="i4 zoomeffect">
            <img src="/homepage/s4.png" alt="not found" />
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-6 col-12 order-1 order-lg-2">
      <h3 class="heading-txt">Overcoming Financial Obstacles On Your Terms</h3>
      <p class="text-Size">
        Life has a habit of throwing you curveballs, but our experts can help
        you ensure that you have the financial resilience to overcome these
        obstacles. Whether talking about life insurance, critical illness
        coverage or remortgaging, we've got you covered.
      </p>
      <p class="text-Size">
        At Wealthmax Financial Advisers Limited, we want to make life as stress-free
        as possible, and we're happy to meet face-to-face or online to discuss
        your needs at a time that suits you, and we only ever recommend services
        you need.
      </p>
      <div>
        <button class="btnall" routerLink="/contact-us">Contact Us</button>
      </div>
    </div>
  </div>
</div>
