/* ===== Layout ===== */
.container {
  overflow: hidden;
  height: auto;
}
.btntxt {
  font-family: "Urbanist", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 27px;
}

/* ===== Buttons ===== */
.btn-orange {
  background: linear-gradient(to bottom, #ff6e00, #fe4b00);
  border: none; /* or use a matching border if needed */
  cursor: pointer;
}

.btn-outline-orange {
  border: 1px solid #eb7124;
  color: #eb7124;
  background-color: transparent;
}

.btn-large-custom {
  width: 270px;
  height: 50px;
}

@media (max-width: 425px) {
  .btn-large-custom {
    width: 270px;
    height: 40px;
  }
  .btntxt {
    font-family: "Urbanist", sans-serif;
    font-weight: 600;
    font-size: 14px;
  }
  .topMargin {
    margin-top: 0px !important;
  }
}
@media (min-width: 425px) and (max-width: 768px) {
  .btn-large-custom {
    width: 180px;
    height: 50px;
  }

  .btntxt {
    font-family: "Urbanist";
    font-weight: 600;
    font-style: "SemiBold";
    font-size: 16px;
    line-height: 27px;
    letter-spacing: 0%;
  }
}

/* ===== Cards ===== */
.card-title {
  font-weight: 600;
}

.card:hover {
  transform: translateY(-6px);
  transition: 0.3s;
  border-color: #ff6600 !important;
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.12);
}

.border-card {
  border: 3px solid #ffc9a7 !important;
}
/* Force cards in one row without scroll */
.single-row {
  display: flex !important;
  flex-wrap: nowrap !important;
  justify-content: center;
  align-items: stretch;
  gap: 1.5rem; /* space between cards */
}

/* Make columns flexible so they fit nicely in one line */
.single-row > div {
  flex: 1 1 0;
  max-width: 100%;
}

/* ===== Images ===== */
.image-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-box {
  overflow: hidden;
  border-radius: 6px;
}

/* img section */
.image-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}
.img-box {
  overflow: hidden;
  border-radius: 6px;
}

.main-img {
  width: 98%;
  height: 330px;
  margin-right: 4px;
  object-fit: cover;
}

.top-img {
  width: 100%;
  height: 230px;
  object-fit: cover;
}

.bottom-img {
  width: 100%;
  height: 90px;
  object-fit: fill;
}
.ls-1 {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
}

.ls-1 > img {
  height: 100%;
  width: 100%;
}

.ls-2 {
  position: absolute;
  right: 0;
}

/* ===== Background ===== */
.gradient-bg {
  background: linear-gradient(to bottom, #fffaf8, #ffdcc5);
}

@media (min-width: 1336px) {
  .image-section {
    width: 100%;
    display: flex;
    margin-top: 45px;
    justify-content: center;
    align-items: center;
  }
}
@media (min-width: 1200px) and (max-width: 1336px) {
  .image-section {
    width: 100%;
    display: flex;
    margin-top: 75px;
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .image-section {
    width: 100%;
    display: flex;
    margin-top: 75px;
    justify-content: center;
    align-items: center;
  }
  .main-img {
    width: 97%;
    height: 320px;
    object-fit: cover;
  }

  .top-img {
    width: 100%;
    height: 250px;
    object-fit: cover;
  }

  .bottom-img {
    width: 100%;
    height: 60px;
    object-fit: fill;
  }
}
@media (min-width: 700px) and (max-width: 992px) {
  .main-img {
    width: 96%;
    height: 335px;
    object-fit: cover;
  }

  .top-img {
    width: 100%;
    height: 242px;
    object-fit: cover;
  }

  .bottom-img {
    width: 100%;
    height: 80px;
    object-fit: fill;
  }
}
@media (min-width: 650px) and (max-width: 700px) {
  .main-img {
    width: 96%;
    height: 300px;
    object-fit: cover;
  }

  .top-img {
    width: 100%;
    height: 196px;
    object-fit: cover;
  }

  .bottom-img {
    width: 100%;
    height: 90px;
    object-fit: fill;
  }
}
@media (min-width: 450px) and (max-width: 650px) {
  .main-img {
    width: 96%;
    height: 270px;
    object-fit: cover;
  }

  .top-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }

  .bottom-img {
    width: 100%;
    height: 60px;
    object-fit: fill;
  }
}
@media (max-width: 450px) {
  .main-img {
    width: 96%;
    height: 220px;
    object-fit: cover;
  }

  .top-img {
    width: 100%;
    height: 160px;
    object-fit: cover;
  }

  .bottom-img {
    width: 100%;
    height: 50px;
    object-fit: fill;
  }
}
