.button {
  max-width: 520px;
  border: 1px solid #ff6e00;
  font-family: "Urbanist";
  font-size: 24px;
  line-height: 27px;
  letter-spacing: 0%;
}
.heading-title{
  font-family: 'Urbanist';
font-weight: 700;
font-style: Bold;
font-size: 22px;
line-height: 27px;
letter-spacing: 0%;
vertical-align: middle;

}
.text-Size{
font-family: 'Inter';
font-weight: 400;
font-size: 18px;
line-height: 27px;
letter-spacing: 0%;
vertical-align: middle;
}

@media (max-width: 576px) {
  .but-icon {
    font-family: Urbanist;
    font-weight: 700;
    font-style: Bold;
    font-size: 16px;
    line-height: 100%;
    vertical-align: middle;
  }
  .but-icon-text {
    font-family: "Inter";
    font-weight: 400;
    font-style: "Regular";
    font-size: 14px;
    line-height: 20px;
    vertical-align: middle;
  }
}
