<app-banner
  [title]="'Buildings & Contents Cover'"
  [subtitle]="
    'Protect your property and possessions with Buildings and Contents Cover, designed to provide security, peace of mind, and financial reassurance'
  "
  [desktopImage]="'/desktop image/building-contentcover.webp'"
  [mobileImage]="'/Mobile img/building and content.webp'"
  [buttons]="[
    {
      label: 'Book a Free Consultation',
      class: 'btn btn-lg bg-white txtorange',
      action: 'dialog'
    }
  ]"
></app-banner>

<div class="container mgtop">
  <h3 class="heading-txt mb-3 text-center">
    Why Choose Buildings and Contents Cover?
  </h3>
  <p class="text-Size text-justify text-lg-center but-icon-text">
    According to the latest figures from the FCA, there are approximately
    650,000 domestic burglaries in the UK each year. Government statistics also
    show that 5.5 million homes and business premises are at risk of flooding,
    along with over 143,000 fires annually that can destroy property. Given
    these risks, buildings and contents protection is essential.
  </p>

  <p class="text-Size text-justify text-lg-center but-icon-text">
    Buildings protection safeguards your home's structure, covering the cost of
    repairs or rebuilding after damage. Contents protection helps replace or
    repair items inside your home that are damaged, stolen, or lost during such
    incidents. In challenging times like these, having this kind of financial
    security can offer much-needed peace of mind.
  </p>
</div>

<!-- Title -->

<div class="container">
  <div class="mgtop">
    <h3 class="heading-txt mb-3 text-center">
      What are Benefits of Buildings and Contents Cover?
    </h3>
    <p class="text-Size text-justify text-lg-center but-icon-text">
      While specific details of buildings and content protection will vary from
      provider to provider, the fundamental elements will typically include the
      following:
    </p>
  </div>

  <!-- Business Insurance Section -->

  <div class="my-5">
    <div
      class="row align-items-center gy-4 flex-column-reverse flex-lg-row mb-5"
    >
      <!-- Text Section -->
      <div class="col-lg-6">
        <div class="text-center mb-4">
          <h3 class="heading-txt mb-2 mb-lg-5">Buildings Insurance</h3>
        </div>

        <div class="d-flex align-items-start mb-3 feature border-bottom">
          <div class="me-3">
            <img
              src="/building content/structural.svg"
              alt="icon"
              class="icon-img"
            />
          </div>
          <div>
            <h6 class="heading-title but-icon">Structural Damage</h6>
            <p class="text-Size but-icon-text">
              Repair or rebuilding costs for damage to the physical structure of
              your home caused by events like fire, floods, or subsidence
            </p>
          </div>
        </div>

        <div class="d-flex align-items-start mb-3 feature border-bottom">
          <div class="me-3">
            <img
              src="/building content/fixture.svg"
              alt="icon"
              class="icon-img"
            />
          </div>
          <div>
            <h6 class="heading-title but-icon">Fixtures & Fittings</h6>
            <p class="text-Size but-icon-text">
              Includes permanent fixtures like kitchens and bathrooms
            </p>
          </div>
        </div>

        <div class="d-flex align-items-start mb-3 feature border-bottom">
          <div class="me-3">
            <img
              src="/building content/legal.svg"
              alt="icon"
              class="icon-img"
            />
          </div>
          <div>
            <h6 class="heading-title but-icon">Legal Expenses</h6>
            <p class="text-Size but-icon-text">
              Covers structures like garages and sheds
            </p>
          </div>
        </div>

        <div class="d-flex align-items-start mb-3 feature border-bottom">
          <div class="me-3">
            <img
              src="/building content/outbuilding.svg"
              alt="icon"
              class="icon-img"
            />
          </div>
          <div>
            <h6 class="heading-title but-icon">Outbuildings</h6>
            <p class="text-Size but-icon-text">
              Covers structures like garages and sheds
            </p>
          </div>
        </div>
      </div>

      <!-- Image Section -->
      <div class="col-lg-6 text-center">
        <img
          src="/building content/content cover1.png"
          alt="Business Insurance"
          class="img-fluid rounded-4"
        />
      </div>
    </div>

    <!-- Contents Cover -->
    <div class="row align-items-center gy-4 flex-column flex-lg-row">
      <!-- Image Section -->
      <div class="col-lg-6 text-center mb-4 mb-lg-0">
        <img
          src="/building content/content cover2.png"
          alt="Contents Insurance"
          class="img-fluid rounded-4"
        />
      </div>

      <!-- Text Section -->
      <div class="col-lg-6">
        <div class="text-center mb-4">
          <h3 class="heading-txt mb-2 mb-lg-5">Contents Insurance</h3>
        </div>

        <div class="d-flex align-items-start mb-3 feature border-bottom">
          <div class="me-3">
            <img
              src="/building content/personal.svg"
              alt="icon"
              class="icon-img"
            />
          </div>
          <div>
            <h6 class="heading-title but-icon">Personal Belongings</h6>
            <p class="text-Size but-icon-text">
              Protects household items like furniture, electronics & clothing
            </p>
          </div>
        </div>

        <div class="d-flex align-items-start mb-3 feature border-bottom">
          <div class="me-3">
            <img
              src="/building content/valuables.svg"
              alt="icon"
              class="icon-img"
            />
          </div>
          <div>
            <h6 class="heading-title but-icon">Valuables</h6>
            <p class="text-Size but-icon-text">
              Covers high-value items like jewellery and artwork
            </p>
          </div>
        </div>

        <div class="d-flex align-items-start mb-3 feature border-bottom">
          <div class="me-3">
            <img
              src="/building content/theft.svg"
              alt="icon"
              class="icon-img"
            />
          </div>
          <div>
            <h6 class="heading-title but-icon">Theft</h6>
            <p class="text-Size but-icon-text">
              Covers theft or loss of belongings due to burglary or other
              criminal activity
            </p>
          </div>
        </div>

        <div class="d-flex align-items-start mb-3 feature border-bottom">
          <div class="me-3">
            <img
              src="/building content/accidental.svg"
              alt="icon"
              class="icon-img"
            />
          </div>
          <div>
            <h6 class="heading-title but-icon">Accidental Damage</h6>
            <p class="text-Size but-icon-text">
              Covers accidental damage to possessions within the home
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="mgtop">
    <app-faq [faqs]="faqs"></app-faq>
  </div>
</div>
<div class="container mgtopbottom p-1 p-lg-2">
  <app-last-btn-comp
    [align]="'center'"
    [title]="'Looking for a Buildings & Contents Cover?'"
    [subtitle]="
      'At Wealthmax, we understand how important it is to protect both your property and the belongings inside it. Our team can help tailor buildings and contents insurance to suit your individual needs—whether you are safeguarding your home or rental property.'
    "
    [buttonText]="'Speak to our Advisers'"
    [buttonLink]="'/contact-us'"
  />
</div>
