<div class="bgclr_main">
  <app-banner
    [title]="'Income Protection Cover'"
    [subtitle]="
      'Safeguard your lifestyle with income protection designed to provide steady support when health interrupts your earning power'
    "
    [desktopImage]="'/desktop image/incomeprotection.webp'"
    [mobileImage]="'/Mobile img/income protection.webp'"
    [buttons]="[
      {
        label: ' Get Your Free Quote ',
        class: 'btn btn-lg bg-orange text-white',
        href: 'https://wealthmax-financial-advisers.prequo.co.uk/#/',
        target: '_blank'
      }
    ]"
  ></app-banner>
  <div class="container mgtop">
    <h3 class="heading-txt mb-3 text-center">
      Why Consider Income Protection Cover?
    </h3>
    <p class="text-Size text-justify text-lg-center">
      According to figures published by The Health Foundation, around 2.5
      million people in the United Kingdom live with a long term health
      condition that prevents them from working and earning a living—that’s
      approximately 1 in 15 working age adults. In addition, an estimated 1.2
      million people experience a work limiting condition that directly affects
      the type or amount of work they can do.
    </p>

    <p class="text-Size text-justify text-lg-center">
      This means that around 10% of the UK’s working-age population face income
      disruption due to health-related issues. When combined with the pressures
      of the cost of living crisis, it’s clear that having a tailored income
      protection policy in place can offer valuable financial support.At
      Wealthmax, we help individuals explore income protection options suited to
      their needs, providing guidance to support financial resilience during
      uncertain times.
    </p>
  </div>

  <div class="container">
    <div class="mgtop">
      <h3 class="heading-txt mb-3 text-center">
        Conditions Commonly Covered by Income Protection
      </h3>
      <p class="text-Size text-justify text-lg-center mb-3">
        Income protection provides a financial safety net if you're unable to
        work due to illness or injury for an extended period (typically four
        weeks or more). A standard income protection policy covers loss of
        income resulting from medical conditions but does not provide cover for
        unemployment due to redundancy or dismissal. If your GP confirms that
        you're unfit for work, you may be eligible to claim—subject to policy
        terms and any exclusions. However, securing the right level of cover
        that pays out when you need it is something best discussed with your
        Wealthmax adviser. Some of the most common reasons for income protection
        claims include:-
      </p>
    </div>
    <div class="mt-md-5">
      <div
        class="row justify-content-center justify-content-md-between align-content-center"
      >
        <!-- Left Column -->
        <div class="col-md-6 col-lg-4 row height-cards">
          <div class="mb-0 mb-md-4">
            <div class="my-3">
              <img
                src="/income protection/back.svg"
                alt="back"
                class="icon-img"
              />
            </div>
            <div>
              <h5 class="btn-text1">Back and Joint Problems</h5>
              <p class="textSize1">
                Bad backs and joint problems, which can also include chronic
                conditions such as arthritis
              </p>
            </div>
          </div>
          <div class="mb-0 mb-md-4">
            <div class="my-3">
              <img
                src="/income protection/accidents.svg"
                alt="accidents"
                class="icon-img"
              />
            </div>
            <div>
              <h5 class="btn-text1">Accidents leading to disability</h5>
              <p class="textSize1">
                Support if an accident leaves you with a lasting disability
              </p>
            </div>
          </div>
          <div class="mb-0 mb-md-4">
            <div class="my-3">
              <img
                src="/income protection/torn.svg"
                alt="broken"
                class="icon-img"
              />
            </div>
            <div>
              <h5 class="btn-text1">
                Torn ligaments, ruptured tendons and broken bones
              </h5>
              <p class="textSize1">Help during bone and muscle injuries</p>
            </div>
          </div>
        </div>

        <!-- Center Image -->
        <div class="col-0 col-lg-4 text-center d-lg-block d-none">
          <div class="position-relative">
            <div>
              <img
                src="/income protection/protection.png"
                class="img-fluid rounded-3"
                alt="frame"
              />
            </div>
            <div>
              <button
                routerLink="/contact-us"
                class="btnall mt-2 element"
                tabindex="0"
              >
                Contact Us
              </button>
            </div>
          </div>
        </div>

        <!-- Right Column -->
        <div class="col-md-6 col-lg-4 row height-cards">
          <div class="mb-0 mb-md-4">
            <div class="my-3">
              <img
                src="/income protection/chronic.svg"
                alt="chronic"
                class="icon-img"
              />
            </div>
            <div>
              <h5 class="btn-text1">
                Chronic conditions that affect your ability to work
              </h5>
              <p class="textSize1">
                Support when health issues impact your daily work life
              </p>
            </div>
          </div>

          <div class="mb-0 mb-md-4">
            <div class="my-3">
              <img
                src="/income protection/hospitalisation.svg"
                alt="hospital"
                class="icon-img"
              />
            </div>
            <div>
              <h5 class="btn-text1">Hospitalisation</h5>
              <p class="textSize1">
                Assistance with expenses and care during your hospital stay
              </p>
            </div>
          </div>
          <div class="mb-0 mb-md-4">
            <div class="my-3">
              <img
                src="/income protection/recovery.svg"
                alt="recovery"
                class="icon-img"
              />
            </div>
            <div>
              <h5 class="btn-text1">Recovery from surgery</h5>
              <p class="textSize1">Support while you heal after surgery</p>
            </div>
          </div>
        </div>
      </div>
      <!-- mobile view contact us button -->
      <div class="d-block d-lg-none justify-content-center text-center">
        <button routerLink="/contact-us" class="btnall mt-2" tabindex="0">
          Contact Us
        </button>
      </div>
    </div>

    <!-- faq -->
  </div>
  <div class="mgtop container">
    <app-faq [faqs]="faqs"></app-faq>
  </div>
</div>
<div class="bgclr_main">
  <div class="container mgtopbottom p-1 p-lg-2 bgclr_main">
    <app-last-btn-comp
      [align]="'center'"
      [title]="'Looking for Income Protection Cover?'"
      [subtitle]="
        'Wealthmax is here to help. Our advisers are experienced in income protection and can design a plan tailored to your lifestyle and financial needs. Contact us today to secure the right cover and support your financial stability if you are unable to work due to illness or injury.'
      "
      [buttonText]="'Speak to our Advisers'"
      [buttonLink]="'/contact-us'"
    />
  </div>
</div>
