.calc-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 42px;
  padding: 30px;
  border: 3px solid #eaeff540;
  border-radius: 14px;
  background: #ffffff;
  box-shadow: 10px 0px 15px rgba(86, 86, 86, 0.25);
  background-image: url("/calculator/bg3cal.png");
}

/* CARD */
.calc-card {
  background: #ffe2d0;
  padding: 22px;
  border-radius: 14px;
  border: 1px solid #ff9b4d;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.25s ease;
}

.calc-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 22px rgba(0, 0, 0, 0.08);
}

/* TITLE */
.calc-card h4 {
  font-family: "Urbanist";
  font-weight: 600;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: 0%;
  color: #01004c;
}

/* DESCRIPTION */
.calc-card p {
  font-family: "Inter";
  font-weight: 400;

  font-size: 16px;

  line-height: 27px;
  letter-spacing: 0%;
}

/* BUTTON */
.calc-btn {
  width: 100%;
  background: #ff751d;
  font-family: "Urbanist", sans-serif;
  font-size: 20px;
  line-height: 24px;
  border: none;
  color: white;
  font-weight: 600;
  border-radius: 6px;
  padding: 10px 0;
  cursor: pointer;
  transition: 0.25s;
  border-radius: 8px;
}

.calc-btn:hover {
  background: #e06712;
}
@media (max-width:1400px) {
  .calc-card {
    padding: 15px;
  }


}
@media (max-width: 1200px) {
  .calc-container {
    grid-template-columns: 1fr;
    padding: 30px;
  }
  .calc-btn {
    font-size: 16px;
    line-height: 100%;
  }
}

/* 🔥 RESPONSIVE (TABLETS) */
@media (max-width: 992px) {
  .calc-container {
    grid-template-columns: 1fr;
    padding: 30px;
  }
}

/* 🔥 RESPONSIVE (MOBILE PHONES) */
@media (max-width: 600px) {
  .calc-container {
    grid-template-columns: 1fr;
    padding: 12px;
  }

  .calc-card {
    padding: 18px;
  }

  .calc-card h4 {
    font-size: 16px;
  }

  .calc-card p {
    font-size: 13px;
  }
}
