
<div class="container my-5">
  <h1 class="text-center mb-5 txtorange bannerheadertxt mt-5">
    Financial Ombudsman Service
  </h1>

  <div class="mb-3">
    <p class="textSize">
      If we have not issued our final response letter within 8 weeks of receipt
      of the complaint or, if you are dissatisfied with our final response, you
      have the right to refer your complaint to the Financial Ombudsman Service,
      free of charge but you must do so within six months of the date of our
      final response letter.
    </p>
    <p class="textSize">
      If you do not refer your complaint in time, the Ombudsman will not have
      our permission to consider your complaint and so will only be able to do
      so in very limited circumstances. For example, if the Ombudsman believes
      that the delay was as a result of exceptional circumstances.
    </p>
    <p class="textSize">The Ombudsman can be contacted at:</p>
  </div>



  <div>
    <h4 class="mt-3 txtorange fs-32 ">Financial Ombudsman Service :</h4>
  </div>
  <ul class="textSize">
    <li class="mb-2">
      <span class="fw-bold blue-text">Postal Address:</span> The Financial
      Ombudsman Service, Exchange Tower, London E14 9SR
    </li>
    <li class="mb-2">
      <span class="fw-bold blue-text">Telephone:</span> 08000234567 or
      03001239123
    </li>

    <li class="mb-2 fw-bold blue-text">
      Website:
      <a href="https://www.financial-ombudsman.org.uk/" target="_blank">
        www.financial-ombudsman.org.uk</a
      >
    </li>

    <li class="mb-2 fw-bold blue-text">
      Email:
      <a
        href="mailto:complaint.info@financial-ombudsman.org.uk"
        target="_blank"
      >
        complaint.info&#64;financial-ombudsman.org.uk</a
      >
    </li>
  </ul>
  <p class="textSize">
    Be assured that we treat all complaints very seriously and we will conduct a
    full review and conclude all matters to the mutual satisfaction of the
    parties as quickly as possible maintaining appropriate records at all times.
  </p>
</div>
