<div class="container mgtopbottom ">
  <div class=" container row align-items-center g-4">
    <!-- Content -->
    <div class="col-lg-5 order-2 order-lg-1">
    <div class="content">
      <h1 class="error-code">404</h1>
      <h2 class="oops">Oops! Page Not Found</h2>
      <p class="text-Size mb-4 text-lg-start text-center">
        The page you’re looking for doesn’t exist, has been removed,
        or might be temporarily unavailable.
      </p>
      </div>
      <div class="d-flex justify-content-lg-start justify-content-center">
        <button class="btnall" routerLink="/">Go to Home Page</button>
      </div>
    </div>
     <!-- Image -->
    <div class="col-lg-7 d-flex justify-content-center order-1 order-lg-2 mt-4">
      <img src="desktop image/error-img.svg" alt="Person" class="img-fluid" />
    </div>
  </div>
</div>

