.error-code{
font-family: "Urbanist";
font-weight: 700;
font-style: Bold;
font-size: 5vw;
line-height: 68px;
letter-spacing: 0%;
color: (50, 50, 50, 1);
margin-bottom: 2%;
}

.oops{
font-family: "Inter";
font-weight: 500;
font-style: Medium;
font-size: 2.4vw;
line-height: 50px;
letter-spacing: 0%;
vertical-align: middle;
color: (50, 50, 50, 1);
margin-bottom: 2%;
}


@media (max-width: 991px){
.error-code{
font-size: 48px;
margin-bottom: 0%;
}
.oops{
font-size: 24px;
margin-bottom: 1%;
line-height: 36px;
}
.content{
 text-align: center;
}
}