<!-- Title -->
<div class="container my-5">
  <h1 class="text-center bannerheadertxt txtorange mt-5 mb-5">
    Complaints Procedure
  </h1>
  <div class="mt-5">
    <h4 class="txtorange fs-32 mb-4">
      Complaints Procedure of Wealthmax Financial Advisers Limited
    </h4>
    <p class="textSize">
      We aim to provide our clients and their families with excellent client
      service but at times things can go wrong. If you are unhappy with our
      service or think there is a problem please let us know immediately. We
      will resolve complaints as quickly as we can. Some complaints require
      detailed investigation and/or a dialogue with third parties and take some
      time to resolve. We will provide fair redress where we believe it is
      appropriate. For this purpose, fair means proportionate to the
      circumstance, consistent with Financial Conduct Authority Rules and
      Financial Ombudsman Guidelines.
    </p>
    <div class="mt-5">
      <h4 class="txtorange fs-32 mb-4">How will we handle your complaints?</h4>
      <p class="textSize">
        We regard any expression of dissatisfaction from or on behalf of any
        client to be a complaint irrespective of whether it is made orally or in
        writing or whether it is justified or not. We will provide a copy of
        this procedure to any client who makes a complaint or to any client who
        requests it.
      </p>
      <p class="textSize">
        On receipt of a complaint, we will pass the details to the Compliance
        Director – Mr. Raja Kanakamedala.
      </p>
      <ul class="textSize text-start">
        <li class="mb-3">
          <span class="fw-bold blue-text">Compliance Director:</span> Raja
          Kanakamedala
        </li>
        <li class="mb-3">
          <span class="fw-bold blue-text">Company Name:</span> Wealthmax
          Financial Advisers Limited
        </li>
        <li class="mb-3">
          <span class="fw-bold blue-text">Postal Address:</span> The Mille,
          River Suite, 3rd Floor, 1000 Great West Road, Brentford, London, TW8
          9DW, United Kingdom
        </li>
        <li class="fw-bold blue-text mb-3">
          E-mail:
          <a href="mailto:complaint@wealthmax.co.uk" target="_blank"
            >complaint&#64;wealthmax.co.uk</a
          >
        </li>
        <li class="mb-3">
          <span class="fw-bold blue-text">Telephone:</span> +44 20 3675 8998
        </li>
      </ul>
    </div>
    <div class="mt-5">
      <h4 class="txtorange fs-32 mb-4">We regard a complaint as:</h4>
      <ul class="textSize">
        <li class="mb-3">
          An expression of dissatisfaction from an eligible complaints.
        </li>
        <li class="mb-3">Relating to a regulated activity.</li>
        <li class="mb-3">
          A client who has or may suffer financial loss material distress or
          significant inconvenience.
        </li>
      </ul>
    </div>

    <div class="mt-5">
      <h4 class="txtorange fs-32 mb-4">We regard a complaint as:</h4>
      <ul class="textSize">
        <li class="mb-3">
          A complaint where we can resolve it informally within three days of
          your confiriming its nature, Where we resolve such a complaint
          informally we will write to you summarising the complaint. the
          resolution we agreed with you at the remind you of your right to
          refer.
        </li>
        <li class="mb-3">
          Where a complaint cannot be resolved informally we will enter the
          formal written dispute service, which we aim to resolve as soon as
          possible and in any event within eight weeks of notification.
        </li>
      </ul>
    </div>
    <div class="mt-5">
      <h4 class="txtorange fs-32 mb-4">
        Where we cannot resolve your problem within three working days:
      </h4>
      <p class="textSize">
        We will Acknowledge your complaint in writing within 5 working days. If
        we receive an oral complaint we will refer in our letter of
        acknowledgment to the matter complained of and detail our understanding
        of this for you to confirm the accuracy of this. This letter may contain
        our offer to settle where appropriate.
      </p>
      <p class="textSize">
        If your complaint relates to a product or service that we arranged for
        you, but the matter is the responsibility of a third party rather than
        our firm, we will refer the matter to the third party within 5 working
        Days and write to you to confirm this, together with contact details for
        the third party concerned.
      </p>
    </div>
    <div class="mt-5">
      <h4 class="txtorange fs-32 mb-4">
        The acknowledgement letter will confirm that:
      </h4>
      <ul class="textSize">
        <li class="mb-3">
          We will investigate the complaint and respond fairly and promptly;
        </li>
        <li class="mb-3">
          Our Compliance Director will review the details surrounding the matter
          complained about and will examine the file and any other relevant
          information. If the complaint is in respect of business conducted by
          our Compliance Director then another senior employee will investigate
        </li>
        <li class="mb-3">
          Once the investigation is completed then our Compliance Director will
          write a “Final Response” letter to you with his appraisal of the
          matter, our final decision and the nature and terms of any settlement,
          if applicable. If we decide an offer of redress is appropriate, any
          compensation we offer will be a fair offer taking all the facts into
          account.
        </li>
      </ul>
      <p class="textSize">
        If you are advised that we have concluded the matter and you are not
        satisfied with our final response, you may then take the complaint to
        the Financial Ombudsman Service (FOS).
      </p>
      <p class="textSize">
        If we write to you and you do not respond within eight weeks to our
        “settlement letter” we will treat the matter as closed.
      </p>

      <p class="textSize mt-4">
        If the investigation is not completed fairly and promptly within eight
        weeks following the initial receipt of the complaint, you will be
        informed of the reasons for the delay:
      </p>
      <ul class="textSize">
        <li class="mb-3">
          We will investigate the complaint and respond fairly and promptly
        </li>
        <li class="mb-3">
          Giving you a full summary of our investigation to date, explaining why
          we have not been able to conclude the matter and when we expect to do
          so.
        </li>
        <li class="mb-3">
          Advising you that you may now take the matter to the Ombudsman (see
          below)
        </li>
        <li class="mb-3">
          Enclosing a leaflet explaining how to take the complaint to the
          Ombudsman.
        </li>
      </ul>
    </div>

    <div class="mt-5">
      <h4 class="txtorange fs-32 mb-4">The Financial Ombudsman Service</h4>
      <p class="textSize">
        If we have not issued our final response letter within 8 weeks of
        receipt of the complaint or, if you are dissatisfied with our final
        response, you have the right to refer your complaint to the Financial
        Ombudsman Service, free of charge but you must do so within six months
        of the date of our final response letter.
      </p>
      <p class="textSize">
        If you do not refer your complaint in time, the Ombudsman will not have
        our permission to consider your complaint and so will only be able to do
        so in very limited circumstances. For example, if the Ombudsman believes
        that the delay was as a result of exceptional circumstances. The
        Ombudsman can be contacted at:
      </p>
    </div>

    <div class="mt-2">
      <h4 class="blue-text fs-4 mb-2">Financial Ombudsman Service:</h4>
      <ul class="textSize">
        <li class="mb-3">
          <span class="fw-bold blue-text">Postal Address : </span>The Financial
          Ombudsman Service, Exchange Tower, London E14 9SR
        </li>
        <li class="mb-3">
          <span class="fw-bold blue-text">Telephone :</span>
          08000234567 or 03001239123
        </li>
        <li class=" fw-bold blue-text">
          Website:
          <a href="https://www.financial-ombudsman.org.uk/" target="_blank"
            >www.financial-ombudsman.org.uk</a
          >
        </li>
      </ul>
      <p class="textSize">
        Be assured that we treat all complaints very seriously and we will
        conduct a full review and conclude all matters to the mutual
        satisfaction of the parties as quickly as possible maintaining
        appropriate records at all times.
      </p>
    </div>
  </div>
</div>
