.textSize1 {
  font-family: "Inter";
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  height: 6vh;
}
.element{
    margin-right: 6%;
}

.btn-text1 {
  font-weight: 700;
  font-family: "Urbanist";
  font-size: 22px;
}
.height-cards > div {
  height: 200px;
  width: 100%;
}
.img-height {
  max-height: 70vh;
}
.banner-faq1 {
  font-family: Urbanist;
  font-weight: 500;
  font-style: Medium;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0px;
  vertical-align: middle;
}

/* Responsive: Move toggle button to right side on mobile */
@media (max-width: 767.98px) {
  .faq-header {
    flex-direction: row;
    justify-content: space-between !important;
    align-items: center;
  }

  .toggle-btn {
    margin-left: auto; /* Push to right */
  }

  .banner-faq1 {
    flex: 1;
    text-align: left;
    font-size: 1rem; /* slightly smaller for mobile */
  }
  .btn-text1 {
    font-size: 16px;
  }
  .height-cards > div {
    height: 150px;
    width: 100%;

  }
}
@media (max-width:360px){
   .height-cards > div {
    height: 170px;
    width: 100%;
   
  }
}


