<div class="container my-5">
  <!-- Heading -->
  <h2 class="text-center bannerheadertxt txtorange mt-5 mb-5">
    Privacy Policy
  </h2>

  <!-- Intro Paragraph -->
  <p class="textSize">
    Wealthmax Financial Advisers Limited takes the privacy of personal data
    seriously, we therefore ask you to please read the following important
    information which explains how we collect, store and use your personal data.
  </p>

  <!-- Who are we section -->
  <div class="mt-5">
    <h4 class="fs-32 txtorange">Who are we?</h4>
    <p class="textSize">
      Wealthmax Financial Advisers Limited is authorised and regulated by the
      Financial Conduct Authority FCA No. 766509 Registered company in England &
      Wales, Company No 10501962. Wealthmax Financial Advisers Limited has its
      registered office at The Mille, River Suite, 3rd Floor, 1000 Great West
      Road, Brentford, London, TW8 9DW. You can check this on the Financial
      Services Register by visiting the website.
      <a href="https://register.fca.org.uk/s/" target="_blank"
        >www.register.fca.org.uk</a
      >
      by contacting the FCA on 0800 111 6768.
    </p>
  </div>

  <!-- Personal Data Section -->
  <div class="mt-5">
    <h4 class="fs-32 txtorange">What do we mean by Personal Data?</h4>
    <p class="textSize">
      By personal data (or personal information), we mean information that
      relates to you and is used to identify you, either directly or in
      conjunction with other material we hold. Your Personal Data may identify
      you directly, for example, your name, address, date of birth, and national
      insurance number. Your Personal Data may also identify you indirectly, for
      example, your employment situation, your physical and mental health
      history, or any other information that could be associated with your
      cultural or social identity.
    </p>

    <p class="textSize">
      In the context of Wealthmax Financial Advisers Limited, you with advice
      and guidance in relation to your requirements, your Personal Data may
      include:
    </p>

    <ul class="textSize">
      <li class="mb-2">
        Name, Date of Birth, Gender, Nationality, Civil/Marital Status, Contact
        Details, Addresses, and any documents that are necessary to verify.
      </li>
      <li class="mb-2">Employment and remuneration information.</li>
      <li class="mb-2">
        Bank account details, tax information, commitments for liabilities such
        as loans and credit cards, personal credit history, sources of income,
        and expenditure.
      </li>
      <li class="mb-2">
        Health status and history (this is referred to as Special Category
        Data).
      </li>
      <li class="mb-2">Existing Plan information.</li>
      <li class="mb-2">
        If you have parental responsibility for children under the age of 13, it
        is also very likely that we will record information on our systems that
        relates to those children and potentially, to their Special Category
        Data.
      </li>
    </ul>
  </div>
  <!-- Why do we collect information section -->
  <div class="mt-5">
    <h4 class="fs-32 txtorange">Why do we collect information from you?</h4>
    <p class="textSize">We use your personal information for the following:</p>
    <ul class="textSize">
      <li class="mb-2">
        Provision of services and advice or to provide you with the information,
        products and services you have requested from us.
      </li>
      <li class="mb-2">
        To comply with regulation and legislation in relation to anti-money
        laundering regulation and the Financial Services & Markets Act.
      </li>
      <li class="mb-2">
        In order to undertake our services for you, we have the right to use
        your Personal Data provided it is in our legitimate business interest.
        We may be required to share this data with providers in relation to
        obtaining illustrations to make a recommendation to you, with our
        Compliance Service Provider in relation to any advice provided to you or
        make contact with you in relation to the service you have received.
      </li>
      <!-- <li class="mb-2">
        Recommendation to you, with our Compliance Service Provider in relation
        to any advice provided to you or make contact with you in relation to
        the service you have received.
      </li> -->
    </ul>
  </div>

  <!-- How do we collect information section -->
  <div class="mt-5">
    <h4 class="fs-32 txtorange">How do we collect information?</h4>
    <p class="textSize">
      Most information we obtain will be directly from you during our meetings
      and discussions or this may be in writing, including via email. We may
      also need to obtain information from third parties in relation to
      verifying your identity if this is done electronically. With regards to
      electronic ID checks we would not require your consent but will inform you
      of how such software operates and the purpose for which it is used.
    </p>
  </div>

  <!-- Special Category Data section -->
  <div class="mt-5">
    <h4 class="fs-32 txtorange">What do we mean by special category data?</h4>
    <p class="textSize">
      Where you ask us to advise or guide you on certain elements such as
      insurance, ethical investments or retirement income, we will ask you
      information about your ethnic origin, your health and medical history
      (Your Special Category Data). We will record and use your Special Category
      Data in order to make inquiries to find suitable products that may meet
      your aims and objectives and to provide you with advice or guidance
      regarding the suitability of any product that may be available to you.
    </p>

    <p class="textSize">
      The arrangement of certain types of insurance may involve disclosure by
      you to us of information relating to historic or current criminal
      convictions or offenses (together “Criminal Disclosures”). This relates to
      insurance related activities such as underwriting, claims and fraud
      management.
    </p>

    <p class="textSize">
      We will use Special Category Data and any Criminal Disclosures in the same
      way as Your Personal Data generally, as set out in this Privacy Notice. In
      order to process your Special Category Data however, we do require
      explicit consent.
    </p>
  </div>
  <!-- hOW long we  section -->
  <div class="mt-5">
    <h4 class="fs-32 txtorange">How long do we store your data?</h4>
    <p class="textSize">
      Our Company will storing your Data for a minimum of 10 years from the last
      business completion and once this time period has expired, we will delete
      your data. Data types including Personal Identification Information,
      Contact Information, Location Based data, Bank Information & any Special
      Category data.
    </p>
  </div>

  <!-- how we protect section -->
  <div class="mt-5">
    <h4 class="fs-32 txtorange">
      How do we protect your personal information?
    </h4>
    <p class="textSize">
      We have strict safeguarding processes to ensure that we meet our
      obligations under the Data Protection Regulations 2018. Your privacy is
      important to us and we will keep Your Personal Data secure in accordance
      with our legal responsibilities. We will take reasonable steps to
      safeguard Your Personal Data against it being accessed unlawfully or
      maliciously by a third party.
    </p>
    <p class="textSize">We will:</p>
    <ul class="textSize">
      <li class="mb-2">
        Record and store your Personal Data in our paper files and electronic
        files on our computer systems, which can only be accessed by Wealthmax
        Financial Advisers Limited staff when it is necessary to provide our
        service to you and to perform any administration tasks associated with
        or incidental to that service.
      </li>
      <li class="mb-2">
        Submit your Personal Data to providers both electronically or via
        paper-based forms to allow us to advise you or process your application
        for a product, or to obtain information as required as part of our
        services.
      </li>
      <li class="mb-2">
        Use your Personal Data to respond to any queries you have on your
        policies under our Agency.
      </li>
      <!-- <li class="mb-2">Record and store your Personal Data in our paper.</li>
      <li class="mb-2">
        We also expect you to take reasonable steps to safeguard your own
        privacy when transferring information to us.
      </li>
      <li class="mb-2">
        Your Personal Data will be retained by us either electronically or in
        paper format for a minimum of six years, or in instances whereby we have
        legal right to such information we will retain records indefinitely
      </li> -->
    </ul>
    <p class="textSize">
      We also expect you to take reasonable steps to safeguard your own privacy
      when transferring information to us. Your Personal Data will be retained
      by us either electronically or in paper format for a minimum of six years,
      or in instances whereby we have legal right to such information, we will
      retain records indefinitely.
    </p>
  </div>

  <!-- personal info section -->
  <div class="mt-5">
    <h4 class="fs-32 txtorange">
      What are your rights surrounding your personal information?
    </h4>
    <p class="textSize">Your enhanced rights under the GDPR include:</p>
    <ul class="textSize">
      <li class="mb-2">
        The right of access – we will provide a copy of your personal data
        within 30 days of requests. Requests can be made in writing, by phone,
        or by email. We will not charge a fee for this unless we think your
        request is unfounded, excessive, or repetitive; in which case, we will
        inform you before proceeding with your request.
      </li>
      <li class="mb-2">
        The right to rectification – you may ask us to rectify any of your
        personal data which you believe is inaccurate or incomplete. We will
        respond within one month (this can be extended by two months where the
        request for rectification is complex). Requests can be made in writing,
        by phone, or by email.
      </li>
      <li class="mb-2">
        The right to erasure – you have the right to request 'to be forgotten',
        i.e., for us to delete all records of your personal data. We will comply
        with your request, unless we have a legal obligation to continue to hold
        your personal data (in which case we will inform you of the reason why
        we cannot delete the data).
      </li>
    </ul>
  </div>

  <div class="mt-5">
    <h4 class="fs-32 txtorange">
      Who do we share your personal information with?
    </h4>
    <p class="textSize">
      We will only share your personal data with third parties when it is
      necessary for the service you have asked us to provide , and we will have
      contracts/safeguards in place to ensure that they comply with the GDPR and
      treat the privacy of your personal data with the same importance as we do.
    </p>
  </div>

  <!-- contact section -->
  <div class="mt-5">
    <h4 class="fs-32 txtorange">
      Who to contact at Wealthmax Financial Advisers Limited in relation to your
      personal data?
    </h4>
    <p class="textSize">
      If you have any questions or comments about this document, or wish to
      contact Wealthmax Financial Advisers Limited in order to exercise any of
      your rights set out within it, please contact:
    </p>
    <ul class="textSize">
      <li class="mb-2">
        <span class="fw-bold blue-text">By Phone:</span> +44 20 3675 8998
      </li>

      <li class="mb-2 fw-bold blue-text">
        By Email:
        <a href="mailto:admin@wealthmax.co.uk " target="_blank">
          admin&#64;wealthmax.co.uk</a
        >
      </li>

      <li class="mb-2">
        <span class="fw-bold blue-text">By Writing:</span>
        The Mille, River Suite, 3rd Floor, 1000 Great West Road, Brentford, London, TW8 9DW, United Kingdom
      </li>
    </ul>

    <p class="textSize">
      If we feel we have a legal right not to deal with your request, or to
      action it in different way to how you have requested, we will inform you
      of this at the time.
    </p>
    <p class="textSize">
      You should make contact with us as soon as possible on you becoming aware
      of any unauthorized disclosure of your Personal Data, so that we may
      investigate and fulfill our own regulatory obligations.
    </p>
    <p class="textSize">
      If you have any concerns or complaints as to how we have handled Your
      Personal Data you may lodge a complaint with the UK's data protection
      regulator, the ICO:
    </p>
    <ul class="textSize">
      <li class="mb-2">
        <span class="fw-bold blue-text">By Phone:</span> 0303-1231113
      </li>
      <li class="mb-2 fw-bold blue-text">
        By Website:
        <a href="https://www.ico.org.uk" target="_blank">www.ico.org.uk</a>
      </li>

      <li>
        <span class="fw-bold blue-text">In Writing:</span>
        Wycliffe House, Water Lane, Wilmslow, Cheshire, SK9 5AF.
      </li>
    </ul>
  </div>
</div>
