/* img section */
.image-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-box {
  overflow: hidden;
  border-radius: 6px;
}

.main-img {
  width: 98%;
  height: 364px;
  margin-right: 4px;
  object-fit: cover;
}

.top-img {
  width: 95%;
  height: 266px;
  object-fit: cover;
}

.bottom-img {
  width: 95%;
  height: 90px;
  object-fit: fill;
}
.ls-1 {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
}

.ls-1 > img {
  height: 100%;
  width: 100%;
}

.ls-2 {
  position: absolute;
  right: 0;
}

/* ===== Cards ===== */
.card:hover {
  transform: translateY(-6px);
  transition: 0.3s;
  border-color: #ff6600 !important;
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.12);
}
.underline-link {
  background-color: transparent;
  border: none;
  text-decoration: underline;
  padding: 0;
  cursor: pointer;
}

.border-card {
  border: 3px solid #ffc9a7 !important;
}

.gradient-bg {
  background: linear-gradient(to bottom, #fffaf8, #ffdcc5);
}

/* button */
.btn-orange {
  background-color: #eb7124;
  border-color: #eb7124;
  color: #fff;
}
@media (min-width: 1336px) and (max-width: 1552px) {
  .image-section {
    width: 100%;
    display: flex;
    /* margin-top: 60px; */
    justify-content: center;
    align-items: center;
  }
}
@media (min-width: 1200px) and (max-width: 1336px) {
  .image-section {
    width: 100%;
    display: flex;
    /* margin-top: 75px; */
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .image-section {
    width: 100%;
    display: flex;
    margin-top: 40px;
    justify-content: center;
    align-items: center;
  }
  .main-img {
    width: 97%;
    height: 320px;
    object-fit: cover;
  }

  .top-img {
    width: 100%;
    height: 250px;
    object-fit: cover;
  }

  .bottom-img {
    width: 100%;
    height: 60px;
    object-fit: fill;
  }
}
@media (min-width: 700px) and (max-width: 992px) {
  .main-img {
    width: 96%;
    height: 300px;
    object-fit: cover;
  }

  .top-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }

  .bottom-img {
    width: 100%;
    height: 90px;
    object-fit: fill;
  }
}
@media (min-width: 650px) and (max-width: 700px) {
  .main-img {
    width: 96%;
    height: 270px;
    object-fit: cover;
  }

  .top-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }

  .bottom-img {
    width: 100%;
    height: 60px;
    object-fit: fill;
  }
}
@media (min-width: 450px) and (max-width: 650px) {
  .main-img {
    width: 96%;
    height: 270px;
    object-fit: cover;
  }

  .top-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }

  .bottom-img {
    width: 100%;
    height: 60px;
    object-fit: fill;
  }
}
@media (max-width: 450px) {
  .main-img {
    width: 96%;
    height: 220px;
    object-fit: cover;
  }

  .top-img {
    width: 100%;
    height: 160px;
    object-fit: cover;
  }

  .bottom-img {
    width: 100%;
    height: 50px;
    object-fit: fill;
  }
  .topMargin {
    margin-top: 0px !important;
  }
}
