<app-banner
  [title]="'Mortgage Repayments Calculator'"
  [subtitle]="
    'Our mortgage calculators can give you an idea of how much you could borrow, your monthly repayments, stamp duty costs, overpayments, and more'
  "
  [desktopImage]="'/desktop image/subCalcPage.webp'"
  [mobileImage]="'/Mobile img/subcalc.webp'"
/>
<div class="container mgtop mb-2">
  <h3 class="headingtxt mb-2 mb-md-5 text-center">
    Calculate your Mortgage Rates and Repayments Now!
  </h3>

  <div class="calc-grid">
    <div class="calc-card position-relative">
      <div class="calc-card-body position-relative">
        <!-- Loader -->
        <div *ngIf="isLoading" class="iframe-loader">
          <div class="spinner"></div>
          <p>Loading calculator...</p>
        </div>

        <!-- Iframe -->
        <iframe
          class="p-3 px-0 Calculator"
          src="https://webtools.twenty7tec.com/Sourcing/WebToolsTwo?apiKey=b35a7324-3af6-4760-802c-3f08dcf43e98&pluginKey=6247cf11-9bac-4547-a381-40b88dc20352"
          (load)="onIframeLoad()"
        ></iframe>
      </div>
    </div>
  </div>
</div>
