<div class="container mgtop">
  <div
    class="row g-4 align-items-center justify-content-center d-flex flex-md-row flex-column"
  >
    <div class="col-12 col-lg-6 order-1 order-lg-1">
      <h3 class="heading-txt">
        Financial Protection That’s As Unique As You Are
      </h3>
      <p class="text-Size">
        You can't use a one size fits all approach with life cover or any other
        kind of financial service, for that matter. Everyone's lives are
        uniquely different, which is why the financial protection we offer is
        designed to cater to your unique circumstances.
      </p>
      <p class="text-Size">
        No matter which stage of life you're at, we can help you to
        find financial solutions tailored specifically to you and your needs in
        a simple and jargon free way.
      </p>
      <div>
        <button class="btnall" routerLink="/contact-us">Contact Us</button>
      </div>
    </div>
    <div class="col-lg-6 col-12 order-2 order-lg-2">
      <div class="main">
        <div
          style="display: flex; gap: 10px; position: relative"
          class="divheight"
        >
          <div class="i1 zoomeffect">
            <img src="/homepage/e1.png" alt="not found" />
          </div>
          <div class="i2 zoomeffect">
            <img src="/homepage/e2.png" alt="not found" />
          </div>
        </div>
        <div
          style="display: flex; gap: 10px; position: relative"
          class="divheight"
        >
          <div class="i3 zoomeffect">
            <img src="/homepage/e3.png" alt="not found" />
          </div>
          <div class="i4 zoomeffect">
            <img src="/homepage/e4.png" alt="not found" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
