<div class="faq-section p-1 p-lg-4" >
  <h2 class="text-center mb-4 heading-txt">FAQs</h2>

  <div *ngFor="let faq of faqs; let i = index" class="faq-item">
    <div
      class="faq-question d-flex justify-content-between align-items-center"
      [ngClass]="{ active: selectedFaq === i }"
      (click)="toggleFaq(i)"
    >
      <span class="question-text">{{ faq.question }}</span>
      <button class="toggle-btn">
        <i
          class="fa"
          [ngClass]="{
            'fa-plus': selectedFaq !== i,
            'fa-times': selectedFaq === i
          }"
        ></i>
      </button>
    </div>

    <div class="faq-answer" *ngIf="selectedFaq === i">
      <p>{{ faq.answer }}</p>
    </div>
  </div>
</div>
