.faq-section {
  background: #fff;
  border-radius: 20px;
  /* box-shadow: 0px 0px 80px 0px #eb71241a; */
}

.faq-item {
  background: #ffe8da;
  border-radius: 10px;
  margin-bottom: 15px;
  overflow: hidden;
  transition: all 0.3s ease;
}

.question-text {
  flex: 1;
  margin-right: 15px;
}

.toggle-btn {
  background: #ff6600;
  border: none;
  color: white;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  cursor: pointer;
  transition: background 0.3s ease;
}

.toggle-btn:hover {
  background: #e65500;
}
.faq-question {
  padding: 18px 20px;
  color: #01004c;
  cursor: pointer;
  font-family: "Urbanist";
  font-weight: 500;
  font-style: Bold;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
}

.faq-answer {
  padding: 5px 20px 15px;
  color: dark;
  font-family: "Inter";
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0%;
  transition: all 0.4s ease;
}
@media (min-width: 992px) and (max-width: 1200px) {
  .faq-question {
    padding: 18px 20px;
    font-size: 22px;
    line-height: 100%;
  }

  .faq-answer {
    padding: 5px 20px 15px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    transition: all 0.4s ease;
  }
}
@media (min-width: 767px) and (max-width: 992px) {
  .faq-question {
    padding: 18px 20px;
    font-size: 20px;
    line-height: 100%;
  }

  .faq-answer {
    padding: 5px 20px 15px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    transition: all 0.4s ease;
  }
}
@media (max-width: 767px) {
  .faq-question {
    padding: 12px 20px;
    font-size: 16px;
    line-height: 20px;
  }

  .faq-answer {
    padding: 5px 20px 15px;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0%;
    transition: all 0.4s ease;
  }
}
@media (max-width:576px) {
  .toggle-btn{
    background: #ff6600;
    border: none;
    color: white;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    cursor: pointer;

}
.question-text
 {
    flex: 1;
    margin-right: 7px;
}

}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
