<!-- section-1 -->
<app-banner
  [title]="'Inheritance Tax Planning'"
  [subtitle]="
    'Ensure your estate is passed on efficiently and thoughtfully with professional Inheritance Tax Planning tailored to your unique circumstances'
  "
  [desktopImage]="'/desktop image/inheritanceTax.webp'"
  [mobileImage]="'/Mobile img/inheritance tax.webp'"
  [buttons]="[
    {
      label: 'Book a Free Consultation',
      class: 'btn btn-lg bg-white txtorange',
      action: 'dialog'
    }
  ]"
></app-banner>

<!-- section-2 -->

<div class="container mgtop">
  <h3 class="heading-txt mb-3 text-center">
    Why Choose Inheritance Tax Planning?
  </h3>
  <p class="text-Size text-lg-center">
    <i>
      Tax treatment depends on individual circumstances and may change in
      future. Advice should be tailored to your specific needs and
      objectives.</i
    >
  </p>
  <p class="text-Size text-justify text-lg-center">
    Despite less than 4% of estates in the UK typically being subject to
    inheritance tax, HMRC still gathered more than £6.8 billion in revenue in
    2023. Without inheritance tax planning in place, your loved one’s legacy
    could subject to major tax liabilities, meaning that they end up with much
    less financial support than you intended.  In adequate inheritance tax
    planning can also lead to errors or oversights that add to your liabilities,
    in addition to complications and delays during the probate process. You can
    avoid all the associated distress and financial strain these holdups can
    cause by talking to a WealthMax advisor, who can help you mitigate these
    risks and preserve your family’s inheritance.
  </p>
  <p class="text-Size text-justify text-lg-center">
    Inheritance Tax Planning is a valuable step to help ensure your hard-earned
    wealth is passed on to your loved ones. With the right strategy, you can
    reduce tax exposure and protect your estate for future generations.
  </p>
</div>

<!-- section-4 -->
<div class="container mgtop">
  <div class="mb-2 mb-md-3">
    <h3 class="heading-txt mb-3 text-center">
      What are Benefits of Inheritance Tax Planning?
    </h3>
    <p class="text-Size text-justify text-md-center mb-3 mb-lg-5">
      Inheritance Tax Planning is important to ensure your hard-earned wealth is
      passed on to your loved ones. The other benefits of planning are stated
      below.
    </p>
  </div>
  <div class="row justify-content-center align-items-center gx-4">
    <div class="col-12 col-lg-6 d-flex flex-column justify-content-center">
      <div class="d-flex mb-3 feature border-bottom">
        <div class="me-3 icon-col">
          <img
            src="/willsplanning/inheritance/i1.svg"
            alt="icon"
            class="icon-img"
          />
        </div>
        <div>
          <h4 class="heading-title">Minimise Tax Liability</h4>
          <p class="text-Size">
            Reduce the amount of inheritance tax your family may need to pay,
            ensuring more of your wealth is preserved.
          </p>
        </div>
      </div>

      <div class="d-flex mb-3 feature border-bottom">
        <div class="me-3 icon-col">
          <img
           src="/willsplanning/inheritance/i2.svg"
            alt="icon"
            class="icon-img"
          />
        </div>
        <div>
          <h4 class="heading-title">Protect Family Wealth</h4>
          <p class="text-Size">
            Safeguard assets such as property, savings or investments so they
            pass on to your loved ones rather than being lost to taxes.
          </p>
        </div>
      </div>

      <div class="d-flex mb-3 feature border-bottom">
        <div class="me-3 icon-col">
          <img
           src="/willsplanning/inheritance/i3.svg"
            alt="icon"
            class="icon-img"
          />
        </div>
        <div>
          <h4 class="heading-title">
            Provide Financial Security for Loved Ones
          </h4>
          <p class="text-Size">
            Ensure your spouse, children, or chosen beneficiaries receive the
            maximum benefit from your estate.
          </p>
        </div>
      </div>
      <div class="d-flex mb-3 feature border-bottom">
        <div class="me-3 icon-col">
          <img
            src="/willsplanning/inheritance/i4.svg"
            alt="icon"
            class="icon-img"
          />
        </div>
        <div>
          <h4 class="heading-title">Greater Control Over Your Estate</h4>
          <p class="text-Size">
            Decide exactly how your wealth is distributed, rather than leaving
            it entirely to tax laws.
          </p>
        </div>
      </div>
      <div class="d-flex mb-3 feature border-bottom">
        <div class="me-3 icon-col">
          <img
            src="/willsplanning/inheritance/i5.svg"
            alt="icon"
            class="icon-img"
          />
        </div>
        <div>
          <h4 class="heading-title">Avoid Unnecessary Stress for Family</h4>
          <p class="text-Size">
            Proper planning simplifies the inheritance process, easing the
            burden on family members during difficult times.
          </p>
        </div>
      </div>
    </div>

    <div class="col-12 col-lg-6 d-flex justify-content-center">
      <img
        src="willsplanning/inheritance/inheritance-right-img.png"
        alt="illustration"
        class="img-fluid right-illustration"
      />
    </div>
  </div>
</div>
<!-- section-5 -->
<div class="container mgtop box-shadow-faq">
  <app-faq [faqs]="buyToLetFaqs"></app-faq>
</div>

<!-- secton-6 -->
<div class="container mgtopbottom p-1 p-lg-2">
  <app-last-btn-comp
    [align]="'center'"
    [title]="'Looking to Plan for Inheritance Tax Efficiently?'"
    [subtitle]="
      'At Wealthmax Financial Advisers, we’re here to help. Our experienced advisers can guide you through inheritance tax planning, helping you structure your assets effectively to reduce potential tax liabilities and pass on more of your wealth to your loved ones. '
    "
    [buttonText]="'Speak to our Advisers'"
    [buttonLink]="'/contact-us'"
  />
</div>
