<div>
  <!-- custom-fixed -->
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container pt-sm-1 pb-sm-1">
      <a class="navbar-brand">
        <img
          class="company-logo"
          src="/new-page1/ext-page-nav.svg"
          height="44"
          alt=""
          loading="lazy"
          style="margin-top: -1px"
        />
      </a>
      <div class="d-flex align-items-center">
        <a
          href="https://wealthmax-financial-advisers.prequo.co.uk/"
          target="_blank"
          ><button
            data-mdb-ripple-init
            type="button"
            class="btn btn-primary border-0 btn_all"
          >
            Get Your Free Quote
          </button></a
        >
      </div>
    </div>
  </nav>
</div>
<!-- section-2 -->
<div class="container pt-2">
  <div class="row h-100">
    <div class="col-12 col-md-6">
      <!-- d-flex flex-column justify-content-center align-middle align-items-center h-100 -->
      <div
        class="d-flex flex-column justify-content-center align-middle align-items-start h-100"
      >
        <h1 class="heading-banner">
          Get Your <span style="color: #eb7224">Free</span> Life Cover Quote
          <!-- Online in Minutes -->
        </h1>

        <!-- <ul style="list-style-type: none" class="border align-content-start">
          <li>
            <img src="new-page1/trick-b.png" alt="no img found" /><span class="list-data ms-2"
              >Fast results — under 2 minutes  </span
            >
          </li>
          <li>
            <img src="new-page1/trick-b.png" alt="no img found" /><span class="list-data ms-2"
              >Save money by checking real-time Quotes  </span
            >
          </li>
          <li>
            <img src="new-page1/trick-b.png" alt="no img found" /><span class="list-data ms-2"
              >100% free to use </span
            >
          </li>
        </ul> -->
        <ul class="list-unstyled mt-4">
          <li class="d-flex align-items-center py-2">
            <i class="bi bi-check-circle text-primary me-3 fs-5"></i>
            <span class="para-text border-bottom d-inline-block pb-1">
              Fast results — Under 60 Seconds
            </span>
          </li>
          <li class="d-flex align-items-center py-2">
            <i class="bi bi-check-circle text-primary me-3 fs-5"></i>
            <span class="para-text border-bottom d-inline-block pb-1">
              Save money by checking real-time Quotes
            </span>
          </li>
          <li class="d-flex align-items-center py-2">
            <i class="bi bi-check-circle text-primary me-3 fs-5"></i>
            <span class="para-text border-bottom d-inline-block pb-1">
              100% free to use
            </span>
          </li>
        </ul>
        <div class="d-flex align-items-center">
          <a
            href="https://wealthmax-financial-advisers.prequo.co.uk/"
            target="_blank"
            ><button
              data-mdb-ripple-init
              type="button"
              class="btn btn-primary border-0 btn_all"
            >
              Get Your Free Quote
            </button></a
          >
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 position-relative mt-1">
      <img
        class="banner-img"
        src="/protection-img/Group 1000006215.svg"
        alt="no banner-found"
        loading="eager"
      />
    </div>
  </div>
</div>

<!-- <div class="sm bg position-relative">
  <div class="container left-section">
    <div class="row center-container position-absolute bottom-0">
      <div
        class="txt-sec col-12 col-md-6 h-md-100 h-80 d-flex flex-column justify-content-md-center align-items-md-start position-relative"
      >
        <h1 class="heading-banner">
          Get Your <span style="color: #eb7124">Free</span> Life Cover Quote
          Online in Minutes
        </h1>
        <div class="d-flex">
          <div>
            <a
              href="https://wealthmax-financial-advisers.prequo.co.uk/"
              target="_blank"
            >
              <button
                data-mdb-ripple-init
                type="button"
                class="btn btn-primary me-3 border-0 btn_all"
              >
                Get Your Free Quote
              </button></a
            >
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6 position-relative h-100">
        <img src="new-page1/main-img.png" class="main-img" />
      </div>
    </div>
  </div>
  <img class="bottom-img" src="new-page1/hero-bottom.svg.svg" />
</div> -->

<div class="container text-center mg-topbottom">
  <h2 class="banner-belowHead">
    Compare Life Cover Premiums From UK’s Leading Providers With
    <span class="highlight">Wealthmax</span>
    <!-- <span class="highlight">No Hidden Fees</span> -->
  </h2>

  <!-- <div class="container-sm mt-4">
    <div class="row orange-panel w-80 mx-auto text-white fw-medium">
      <div
        class="col-12 col-md-4 text-center py-lg-4 py-3 text-panel border-start border-light border-opacity-50"
      >
        Fast results – under 2 minutes
      </div>
      <div
        class="col-12 col-md-4 text-center py-lg-4 py-3 border-start text-panel border-light border-opacity-50"
      >
        Save money by checking real-time Quotes
      </div>
      <div
        class="col-12 col-md-4 text-center py-lg-4 py-3 border-start text-panel border-light border-opacity-50"
      >
        100% free to use
      </div>
    </div>
  </div> -->
</div>
<div class="marquee-container mt-5 mb-5">
  <div class="marquee-track">
    <div class="marquee-content">
      <ng-container *ngFor="let item of items.concat(items)">
        <img
          [src]="item.img"
          [alt]="item.alt"
          style="border-radius: 0px !important"
        />
      </ng-container>
    </div>
  </div>
</div>

<div class="container my-5 custom-section">
  <div class="row">
    <div class="col-md-5 text-center">
      <div class="position-relative d-inline-block p-4">
        <img
          src="person-img/w3.webp"
          alt="Life Insurance"
          class="img-fluid rounded-pill hover-effect"
        />
      </div>
    </div>

    <div class="col-md-7 py-5">
      <h2 class="text-heading text-dark mb-4">Why Life Insurance Matters?</h2>
      <p class="para-txt text-justify mb-3">
        Life insurance isn’t just another financial product, it’s a way to help
        protect the people who matter most to you.
      </p>
      <p class="para-txt text-justify mb-4">
        If the unexpected happens, a life insurance policy can provide a lump
        sum payment to your loved ones. This can help cover essential costs such
        as:
      </p>
      <ul class="list-unstyled mt-4">
        <li class="d-flex align-items-center py-2">
          <i class="bi bi-check-circle text-primary me-3 fs-5"></i>
          <span class="para-text border-bottom d-inline-block pb-1">
            Mortgage repayments
          </span>
        </li>
        <li class="d-flex align-items-center py-2">
          <i class="bi bi-check-circle text-primary me-3 fs-5"></i>
          <span class="para-text border-bottom d-inline-block pb-1">
            Children’s education
          </span>
        </li>
        <li class="d-flex align-items-center py-2">
          <i class="bi bi-check-circle text-primary me-3 fs-5"></i>
          <span class="para-text border-bottom d-inline-block pb-1">
            Household bills and living expenses
          </span>
        </li>
      </ul>
      <p class="para-txt text-justify mb-4">
        By planning ahead, you can help ensure your dependents have financial
        support when they need it most. Life insurance offers peace of mind,
        knowing that your family’s financial well-being is considered,
        regardless of what the future may hold.
      </p>
      <a
        href="https://wealthmax-financial-advisers.prequo.co.uk/"
        target="_blank"
        ><button class="btn btn-primary me-3 border-0 btn_all">
          Get Your Free Quote
        </button></a
      >
    </div>
  </div>
</div>
<!-- //section 2 -->
<div class="container my-5 custom-section">
  <div class="row">
    <div class="col-md-7 py-5">
      <h2 class="text-heading text-dark mb-4">
        When is the Right Time to Get Life Insurance?
      </h2>
      <p class="para-txt text-justify mb-3">
        Taking out cover early—especially when you're younger and in good
        health—can make it easier to secure lower premiums and broader options.
        But timing isn’t just about age. It’s often linked to key life
        milestones where others begin to rely on you financially, such as:
      </p>

      <ul class="list-unstyled mt-4">
        <li class="d-flex align-items-center py-2">
          <i class="bi bi-check-circle text-primary me-3 fs-5"></i>
          <span class="para-text border-bottom d-inline-block pb-1">
            Buying a home or taking out a mortgage
          </span>
        </li>
        <li class="d-flex align-items-center py-2">
          <i class="bi bi-check-circle text-primary me-3 fs-5"></i>
          <span class="para-text border-bottom d-inline-block pb-1">
            Starting a family or having children
          </span>
        </li>
        <li class="d-flex align-items-center py-2">
          <i class="bi bi-check-circle text-primary me-3 fs-5"></i>
          <span class="para-text border-bottom d-inline-block pb-1">
            Getting married
          </span>
        </li>
        <li class="d-flex align-items-center py-2">
          <i class="bi bi-check-circle text-primary me-3 fs-5"></i>
          <span class="para-text border-bottom d-inline-block pb-1">
            Beginning a new job
          </span>
        </li>
        <li class="d-flex align-items-center py-2">
          <i class="bi bi-check-circle text-primary me-3 fs-5"></i>
          <span class="para-text border-bottom d-inline-block pb-1">
            Launching a business
          </span>
        </li>
      </ul>
      <p class="para-txt text-justify mb-3">
        By acting early, you can help ensure your financial responsibilities are
        covered and your dependents have support in place should the unexpected
        happen.
      </p>
    </div>
    <div class="col-md-5 text-center">
      <div class="position-relative d-inline-block p-4">
        <img
          src="/person-img/w2.webp"
          alt="Doctor Checking Patient"
          class="img-fluid rounded-pill hover-effect"
        />
      </div>
    </div>
  </div>
</div>

<div class="container py-5">
  <div>
    <h2 class="text-heading mb-5">Generate Quote in 3 Easy Steps:</h2>
  </div>
  <div class="row align-items-center">
    <!-- Left Section (Steps) -->
    <div class="col-lg-6">
      <!-- Step 1 -->
      <div class="mb-4">
        <div class="mb-4 step-img">
          <img
            src="/new-page1/w3.png"
            alt="Answer Questions"
            style="border-radius: 0% !important"
          />
        </div>
        <div>
          <h5 class="t-heading mb-2">Tell a Bit About You</h5>
          <p class="fft-3 text-justify mb-3">
            Take a few minutes to answer some straightforward questions and
            provide basic information.
          </p>
        </div>
      </div>
      <hr />

      <!-- Step 2 -->
      <div class="mb-4">
        <div class="mb-4 step-img">
          <img
            src="/new-page1/w1.png"
            alt="Search Market"
            style="border-radius: 0% !important"
          />
        </div>
        <div>
          <h5 class="t-heading mb-2">We Search the Market for You</h5>
          <p class="fft-3 text-justify mb-3">
            Our system scans a wide panel of trusted UK insurance providers in
            real time to find quotes that best match your needs. This helps
            ensure you receive options that are both suitable and competitively
            priced, saving you time and effort.
          </p>
        </div>
      </div>
      <hr />

      <!-- Step 3 -->

      <div class="mb-4 step-img">
        <img
          src="/new-page1/w2.png"
          alt="Compare Quotes"
          style="border-radius: 0% !important"
        />
      </div>
      <div>
        <h5 class="t-heading mb-2">Compare Quote & Choose Yours</h5>
        <p class="fft-3 text-justify mb-3">
          View prices and benefits side by side—clearly presented and easy to
          understand. No jargon, no confusion. Just straightforward comparisons
          so you can make an informed choice with confidence.
        </p>
      </div>
    </div>

    <!-- Right Section (Image) -->
    <div class="col-lg-6 text-center position-relative">
      <!-- Orange Background Shape -->
      <div class="orange-shape"></div>
      <img
        src="/person-img/w1.webp"
        alt="laptop"
        class="img-fluid position-relative hover-effect"
      />
    </div>
  </div>
</div>

<div class="bg-main-color">
  <div>
    <div class="container mginline mg-top">
      <div class="mb-5">
        <h2 class="text-heading text-md-center">
          Benefits of Getting Life Insurance with Wealthmax
        </h2>
      </div>

      <div class="row gx-4 gy-4">
        <!-- Card 1 -->
        <div class="col-12 col-lg-6">
          <div class="cards hover-card h-100">
            <div class="d-flex justify-content-between align-items-center m-1">
              <div>
                <img
                  src="/new-page1/Frame.png"
                  alt="no img"
                  style="border-radius: 0% !important"
                />
              </div>
              <div class="size_number">1</div>
            </div>
            <div>
              <h3 class="cards-heading">
                Access to Leading Providers in the UK:
              </h3>
              <p class="cards-para">
                We work with a Wide panel of Leading providers in the UK, giving
                you choice and competitive pricing without the hassle of
                applying at multiple places.
              </p>
            </div>
          </div>
        </div>

        <!-- Card 2 -->

        <div class="col-12 col-lg-6">
          <div class="cards hover-card h-100">
            <div class="d-flex justify-content-between align-items-center m-1">
              <div>
                <img
                  src="/new-page/c2.png"
                  alt="no img"
                  style="border-radius: 0% !important"
                />
              </div>
              <div class="size_number">2</div>
            </div>
            <div>
              <h3 class="cards-heading">
                Personalised Advice, Not Generic Quotes:
              </h3>
              <p class="cards-para">
                We don’t just show you numbers, we help you understand which
                cover truly fits your needs. Whether it’s protecting your
                mortgage, your family’s lifestyle, or future education costs. 
              </p>
            </div>
          </div>
        </div>

        <!-- Card 3 -->
        <div class="col-12 col-lg-6">
          <div class="cards hover-card h-100">
            <div class="d-flex justify-content-between align-items-center m-1">
              <div>
                <img
                  src="/new-page/c3.png"
                  alt="no img"
                  style="border-radius: 0% !important"
                />
              </div>
              <div class="size_number">3</div>
            </div>
            <div>
              <h3 class="cards-heading">Expert Guidance at Every Step:</h3>
              <p class="cards-para">
                Understanding your exact requirements and selecting a suitable
                product accordingly could be a complex jobs. Our advisers make
                it simple guiding you through the options, so you feel confident
                in your decision. 
              </p>
            </div>
          </div>
        </div>

        <!-- Card 4 -->
        <div class="col-12 col-lg-6">
          <div class="cards hover-card h-100">
            <div class="d-flex justify-content-between align-items-center m-1">
              <div>
                <img
                  src="/new-page/c4.png"
                  alt="no img"
                  style="border-radius: 0% !important"
                />
              </div>
              <div class="size_number">4</div>
            </div>
            <div>
              <h3 class="cards-heading">Peace of Mind:</h3>
              <p class="cards-para">
                Most importantly, life insurance offers the reassurance that
                your family could be financially protected if the unexpected
                happens. Our approach goes beyond simple comparisons—we help you
                find a policy shaped around your priorities, so you can feel
                confident that your loved ones are supported when it matters
                most.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- 2nd section -->

  <div class="bg-clr-lg pb-5 mb-5 mt-5">
    <div class="container mginline mg-top">
      <div class="mb-5">
        <h2 class="text-heading text-md-center">
          Other Important Insurance Options Available
        </h2>
      </div>
    </div>

    <div class="row gx-3 gy-4 justify-content-between mt-5 mginlinecards">
      <div class="col-12 col-lg-4">
        <div class="small-cards d-flex flex-column h-100">
          <img src="/new-page/r1.png" alt="no img found" />
          <h3 class="cards-heading">Critical Illness Cover</h3>
          <p class="cards-para">
            Tax Free lump sum if you are diagnosed with a specified serious
            illness covered by the policy, such as cancer, stroke, heart attack,
            or multiple sclerosis. The payout can help with costs such as
            medical treatment, everyday living expenses, or mortgage repayments
            during your recovery.
            <span class="disclaimer"
              >(Disclaimer: Policy terms, conditions, and exclusions apply. The
              list of covered illnesses may vary by provider.)</span
            >
          </p>
        </div>
      </div>
      <div class="col-12 col-lg-4">
        <div class="small-cards d-flex flex-column h-100">
          <img src="/new-page/r2.png" alt="no img found" />
          <h3 class="cards-heading">Income Protection Cover</h3>
          <p class="cards-para">
            Provides a tax-free lump sum if you are diagnosed with a serious
            medical condition listed in your policy, such as cancer, heart
            attack, stroke, or multiple sclerosis. This payment can help cover
            costs such as medical treatment, household expenses, or mortgage
            repayments while you focus on recovery.
            <span class="disclaimer"
              >(Disclaimer: Income Protection policies vary by provider. Terms,
              conditions, exclusions, and waiting periods apply. This cover does
              not include redundancy or unemployment not caused by illness or
              injury.)</span
            >
          </p>
        </div>
      </div>
      <div class="col-12 col-lg-4">
        <div class="small-cards d-flex flex-column h-100">
          <img src="/new-page/r3.png" alt="no img found" />
          <h3 class="cards-heading">Family Income Benefit</h3>
          <p class="cards-para">
            Family Income Benefit is a type of life insurance that pays a
            regular monthly income to your dependents if you pass away during
            the policy term. Unlike a lump-sum payout, it provides ongoing
            financial support to help cover everyday living costs.
            <span class="disclaimer"
              >(Disclaimer: Policy terms, conditions, and exclusions apply.
              Benefit amounts and duration may vary by provider. Regulated
              financial advice is recommended to ensure suitability.)</span
            >
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- 3 section carousel -->
<div
  class="mg-top testimonial-section position-relative d-flex justify-content-center align-items-center"
  style="vertical-align: middle"
>
  <div class="overlay">
    <div
      id="demo"
      class="carousel slide carousel-fade"
      data-bs-ride="carousel"
      data-bs-interval="3000"
    >
      <div class="carousel-inner">
        <div
          *ngFor="let item of carouselData; let i = index"
          class="carousel-item"
          [class.active]="i === 0"
        >
          <div class="carousel-caption-custom text-center">
            <h2 class="section-title">People Talk About Us</h2>

            <div class="row justify-content-center align-items-center">
              <div class="col-auto text-white">
                <h5>{{ item.name }}</h5>
                <p class="address"></p>
              </div>
            </div>

            <p class="comment">“{{ item.comment }}”</p>
          </div>
        </div>
      </div>

      <div class="carousel-indicators">
        <button
          *ngFor="let item of carouselData; let i = index"
          type="button"
          data-bs-target="#demo"
          [attr.data-bs-slide-to]="i"
          [class.active]="i === 0"
          [attr.aria-current]="i === 0 ? 'true' : null"
          [attr.aria-label]="'Slide ' + (i + 1)"
        ></button>
      </div>

      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#demo"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>

      <!-- Right / Next control -->
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#demo"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</div>
<div class="mginlinecards mgtop">
  <app-faq [faqs]="faqs"></app-faq>
</div>



<div>
 
  <div class="mginlinecards my-5" #dropdownWrapper>
    <div class="row rounded-5 g-4 align-items-center pdadjust">
    
      <div class="col-lg-6 col-md-12 order-2 order-lg-1">
        <h3 class="mb-3 text-heading">Get in Touch Now</h3>
        <p class="mb-4 question-answer">
          For any questions or concerns, please don’t hesitate to contact
          Wealthmax using the information provided below.
        </p>

        <form
          [formGroup]="contactForm"
          (ngSubmit)="onSubmit()"
          class="row g-3 lightboxshadow bg-white p-sm-4 rounded-4 pd12"
        >
          <!-- Full Name -->
          <div class="col-md-12">
            <label for="fullName">Full Name</label>
            <input
              id="fullName"
              type="text"
              formControlName="fullName"
              class="form-control"
              placeholder="Enter full name"
              (keypress)="allowOnlyLetters($event)"
              (blur)="trimFullName()"
            />

            <small
              class="form-text text-danger"
              *ngIf="contactForm.get('fullName')?.touched"
            >
              <span *ngIf="contactForm.get('fullName')?.hasError('required')">
                Full name is required
              </span>
              <!-- <span *ngIf="contactForm.get('fullName')?.hasError('pattern')">
                Only alphabets are allowed
              </span> -->
            </small>
          </div>

          <!-- Email -->
          <div class="col-md-12">
            <label class="form-label">Email</label>
            <input
              type="email"
              class="form-control"
              formControlName="emailId"
              placeholder="@abc.co.uk"
            />
            <div class="form-text text-danger">
              <small *ngIf="contactForm.get('emailId')?.touched">
                <span *ngIf="contactForm.get('emailId')?.hasError('required')">
                  Email is required
                </span>
                <span *ngIf="contactForm.get('emailId')?.hasError('pattern')">
                  Please enter a valid email id
                </span>
              </small>
            </div>
          </div>

          <!-- Phone Number -->
          <div class="col-12">
            <label class="form-label">Phone Number</label>
            <input
              type="tel"
              class="form-control"
              formControlName="contactNumber"
              placeholder="Enter phone number"
              minlength="10"
              maxlength="13"
            />

            <div class="form-text text-danger">
              <small
                *ngIf="
                  contactForm.get('contactNumber')?.touched ||
                  contactForm.get('contactNumber')?.dirty
                "
              >
                <span
                  *ngIf="contactForm.get('contactNumber')?.hasError('required')"
                >
                  Phone number is required
                </span>
                <span
                  *ngIf="
                    contactForm.get('contactNumber')?.hasError('minlength')
                  "
                >
                  invalid phone number
                </span>
                <span
                  *ngIf="
                    contactForm.get('contactNumber')?.hasError('maxlength')
                  "
                >
                  invalid phone number
                </span>
              </small>
            </div>
          </div>

          <!-- Product Interested -->
          <!-- Product Interested (custom multiselect) -->
          <div class="form-group full-width position-relative">
            <label class="mb-2 d-block fw-semibold">Product Interested</label>

            <div class="row">
              <div
                class="col-md-4 col-sm-6 col-lg-6 col-xxl-4 col-12"
                *ngFor="let s of products"
              >
                <div class="checkbox-item d-flex align-items-center">
                  <div>
                    <input
                      type="checkbox"
                      class="custom-checkbox"
                      [id]="s.code"
                      (change)="toggleService(s.code, $event)"
                      [checked]="isChecked(s.code)"
                    />
                  </div>
                  <div class="d-flex align-items-center">
                    <label [for]="s.code" class="sizetxt mb-0">
                      {{ s.name }}
                    </label>
                  </div>
                </div>
              </div>
            </div>

            <small
              class="error"
              *ngIf="
                contactForm.get('products')?.touched &&
                contactForm.get('products')?.hasError('required')
              "
            >
              Please select at least one product.
            </small>
          </div>

          <!-- Consent -->
          <div class="col-12 form-check" style="padding-left: 8px !important">
            <div class="question-answer1">
              <input
                type="checkbox"
                class="custom-checkbox p-md-1"
                formControlName="consent"
              />

              By completing your information below, you agree for us to contact
              you via phone, email, post or SMS.
              <div class="form-text text-danger">
                <small
                  *ngIf="
                    contactForm.get('consent')?.touched &&
                    contactForm.get('consent')?.hasError('required')
                  "
                >
                  You must agree before submitting.
                </small>
              </div>
            </div>
          </div>

          <!-- Submit -->
          <div class="col-12">
            <button
              type="submit"
              [disabled]="contactForm.invalid"
              class="btn btn-primary w-100 btn_all fw-semibold d-flex justify-content-center align-items-center gap-2 shadow-sm"
              style="
                background-color: #ff6600;
                border: none;
                color: white;
                padding-inline: 0;
              "
            >
              <i class="bi bi-send"></i>
              Submit
            </button>
          </div>
        </form>
      </div>

      <div class="col-lg-6 col-md-12 text-center order-1 order-lg-2">
        <img
          src="/new-page/callbackcu.png"
          alt="callback image"
          class="img-fluid"
          loading="lazy"
        />
      </div>
    </div>
  </div>
</div>
<div class="bg-white">
  <div
    class="mginlinecards bg-white p-3 pe-2 footer-txt"
    style="font-family: Epilogue"
  >
    <p>
      Wealthmax Financial Advisers Limited Registered in England & Wales No.
      10501962. Registered Address: The Mille, 3rd Floor, River Suite, 1000
      Great West Road, Brentford, London, TW8 9DW. Authorised and Regulated by
      the Financial Conduct Authority under reference number No 766509. Details
      are available at
      <a
        href="https://register.fca.org.uk/."
        class="footer-link"
        target="_blank"
        >https://register.fca.org.uk/ </a
      >.
      <a href="https://wealthmax.co.uk/privacy-policy" class="footer-link"
        >Privacy Policy</a
      >
      |
      <a href="https://wealthmax.co.uk/terms-and-conditions" class="footer-link"
        >Terms & Conditions</a
      >
      |
      <a href="https://wealthmax.co.uk/complaints-policy" class="footer-link"
        >Complaints Procedure</a
      >
      |
      <a href="https://wealthmax.co.uk/fair-treatment" class="footer-link"
        >Fair Treatment of Customers
      </a>
      |
      <a
        href="https://wealthmax.co.uk/financial-ombudsman-services"
        class="footer-link"
        >Financial Ombudsman Service</a
      >
    </p>
    <p>
      Your Insurance policies may lapse if you do not keep up to date with
      regular premium payments, and you may not be covered in the event of a
      claim. If you stop paying premiums when due, your plan will be cancelled,
      your cover will cease, and you won't get anything back. This is not a
      savings or investment product and has no cash value unless a valid claim
      is made.
    </p>
  </div>
  <div class="footer-arc-top footer-txt">
    <div class="arc"></div>
    <p class="text-center" style="font-family: Epilogue">
      © 2025 Wealthmax — Securing Your Financial Future. All rights reserved.
    </p>
  </div>
</div>
