@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

.container,
.container-sm {
  overflow-x: hidden;
}

.container {
  width: 100% !important;
  max-width: 100% !important;
  padding-inline: 8% !important;
}
html,
body {
  background-color: rgba(254, 251, 249, 0.986) !important;
  overflow-x: hidden;
  width: 100%;
  margin: 0;
  padding: 0;
}

.icon-img,
.card-icon {
  width: 50px !important;
  height: 50px !important;
  border-radius: 1% !important;
  object-fit: contain;
}

.heading-txt {
  font-family: "Urbanist", sans-serif;
  font-weight: 600;
  font-size: 50px;
  line-height: 61px;
  color: #eb7124;
  margin-bottom: 1rem !important;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(1) grayscale(100) !important;
}
.headingtxt {
  font-family: "Urbanist", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 50px;
  line-height: 61px;
  letter-spacing: 0px;
  text-align: start;
  vertical-align: middle;
  color: #eb7124;
  margin-bottom: 1rem !important;
}
.text-Size {
  font-family: "Inter";
  font-style: normal;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0px;
  text-align: justify;
  vertical-align: middle;
  overflow-x: hidden;
  width: 100%;
}
.textSize {
  font-family: "Inter";
  font-style: normal;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0px;
  text-align: justify;
  vertical-align: middle;
  overflow-x: hidden;
  width: 100%;
}
.heading-title {
  font-family: "Urbanist";
  font-weight: 700;
  font-style: Bold;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: 0%;
  vertical-align: middle;
}
/* povicy pages heading style */
.bannerheadertxt {
  font-family: "Urbanist";
  font-weight: 800;
  font-size: 65px;
  line-height: 100%;
  letter-spacing: 3%;
  vertical-align: middle;
}
/*sub-heading font size for privacy pages */
.fs-32 {
  font-family: "Urbanist";
  font-size: 30px;
  font-weight: 600;
  line-height: 4.5vh;
  letter-spacing: 0px;
}
/*leran more link in card */
.underline-link {
  background-color: transparent;
  border: none;
  text-decoration: underline;
  padding: 0;
  cursor: pointer;
  font-family: "Inter";
}

@media (min-width: 992px) and (max-width: 1440px) {
  .heading-title {
    font-family: "Urbanist";
    font-weight: 700;
    font-style: Bold;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 0%;
    vertical-align: middle;
  }

  .heading-txt {
    font-family: "Urbanist", sans-serif;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    color: #eb7124;
    margin-bottom: 1rem !important;
  }
  .headingtxt {
    font-family: "Urbanist", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: 0px;
    text-align: start;
    vertical-align: middle;
    color: #eb7124;
    margin-bottom: 1rem !important;
  }
  .textSize {
    font-family: "Inter";
    font-style: normal;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: justify;
    vertical-align: middle;
    overflow-x: hidden;
    width: 100%;
  }
  .text-Size {
    font-family: "Inter";
    font-style: normal;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: justify;
    vertical-align: middle;
    overflow-x: hidden;
    width: 100%;
  }
}
@media (min-width: 767px) and (max-width: 992px) {
  .heading-title {
    font-family: "Urbanist";
    font-weight: 700;
    font-style: Bold;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0%;
    vertical-align: middle;
  }

  .heading-txt {
    font-family: "Urbanist", sans-serif;
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    color: #eb7124;
    margin-bottom: 1rem !important;
  }
  .headingtxt {
    font-family: "Urbanist", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 0px;
    text-align: start;
    vertical-align: middle;
    color: #eb7124;
    margin-bottom: 1rem !important;
  }
  .textSize {
    font-family: "Inter";
    font-style: normal;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: justify;
    vertical-align: middle;
    overflow-x: hidden;
    width: 100%;
  }
  .text-Size {
    font-family: "Inter";
    font-style: normal;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: justify;
    vertical-align: middle;
    overflow-x: hidden;
    width: 100%;
  }
  /* povicy pages heading style */
  .bannerheadertxt {
    font-family: "Urbanist";
    font-weight: 800;
    font-size: 55px;
    line-height: 100%;
    letter-spacing: 3%;
    vertical-align: middle;
  }
  /*sub-heading font size for privacy pages */
  .fs-32 {
    font-family: "Urbanist";
    font-size: 28px;
    font-weight: 600;
    line-height: 4.5vh;
    letter-spacing: 0px;
  }
}
@media (max-width: 767px) {
  .heading-title {
    font-size: 16px;
    line-height: 100%;
  }

  .heading-txt {
    font-family: "Urbanist", sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 100%;
    text-align: center;
    color: #eb7124;
    margin-bottom: 1rem !important;
  }
  .headingtxt {
    font-family: "Urbanist", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0px;
    text-align: center;
    vertical-align: middle;
    color: #eb7124;
    margin-bottom: 1rem !important;
  }
  .textSize {
    font-size: 14px;
    line-height: 20px;
        letter-spacing: -0.5px;
  }
  .text-Size {
    font-size: 14px;
    line-height: 20px;
        letter-spacing: -0.5px;
  }
}

.bgcolorlinear {
  border-radius: 0 0 36px 36px;
  padding: 0px 0px 30px 0px;
  background: linear-gradient(
    to top,
    rgba(255, 220, 197, 1) 20%,
    rgba(255, 250, 248, 1) 80% /* light orange top */
  );
}
/* box-shadow: 0px 0px 52px rgba(235, 113, 36, 0.15); */
/* .box-shadow-faq {

} */
.mdc-dialog--open .mat-mdc-dialog-surface,
.mdc-dialog--closing .mat-mdc-dialog-surface {
  transform: none;
  background-color: rgba(254, 251, 249, 0.986) !important;
  padding: 2%;
      border-radius: 12px;
}

.heading-top {
  font-family: "Urbanist", sans-serif;
  font-weight: 600;
  font-size: 4.6vh;
}

* {
  box-sizing: border-box;
}

/* Navbar adjustments */
.navbar {
  /* width: 100%; */
  overflow-x: hidden;
}
.mginline,
.pdinline {
  margin-inline: 5% !important;
}

input {
  padding-left: 10 !important;
  height: 48px;
  border: 1px solid #ccc;
  border-radius: 6px !important;
  font-family: "Inter" !important;
  font-weight: 400 !important;
  font-size: 14px !important;
  line-height: 20px !important;
  letter-spacing: 0%;
  transition: border-color 0.2s ease !important;
}

label {
  font-family: "Inter";
  font-weight: 500;
  font-size: 1.7vh;
  line-height: 100%;
  padding-bottom: 8px !important;

}

img {
  border-radius: 12px;
  -webkit-user-drag: none;
}

.txtorange {
  color: #eb7124 !important;
}
.blue-text {
  color: #01004c;
}
.btn-text {
  color: #eb7124 !important;
  font-weight: 600 !important;
  font-family: "Urbanist" !important;
  font-size: 22px !important;
  color: #01004c !important;
}
@media (max-width: 425px) {
  .btn-text {
    font-weight: 600 !important;
    font-family: "Urbanist" !important;
    font-size: 16px !important;
    color: #01004c !important;
  }
  .bannerheadertxt {
    font-family: "Urbanist";
    font-weight: 800;
    font-style: "ExtraBold";
    font-size: 26px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: middle;
  }
  /*sub-heading font size for privacy pages */
  .fs-32 {
    font-family: "Urbanist";
    font-weight: 600;
    font-style: "SemiBold";
    font-size: 22px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: middle;
  }
}

.bgclr_main {
  background-color: rgba(254, 251, 249, 0.986) !important;
}

.gradient-bg {
  background: linear-gradient(to bottom, #fffaf8, #ffdcc5);
  border-radius: 0 0 36px 36px;
}
.mgtop {
  margin-top: 5% !important;
}
.mgtopbottom {
  margin: 5% 0% 5% 0%;
}

.btnall {
  all: unset;
  font-family: "Inter";
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  background-color: #eb7124;
  padding: 1rem 2rem;
  border-radius: 8px;
  cursor: pointer;
  vertical-align: middle;
  line-height: 100%;
}
.btnall:focus {
  outline: none;
}

.btnall:hover {
  background-color: #ff873c;
}

.btnall:hover:not(:disabled) {
  background-color: #ff873c;
}

.btnall:active:not(:disabled) {
  background-color: #e45800;
  transform: scale(0.95);
}

.error {
  color: red !important;
  font-size: 0.85rem !important;
  margin-top: 0.25rem !important;
  font-family: "Inter" !important;
}

.o_color {
  color: #eb7124;
}

/* Responsive adjustments */
@media (min-width: 767px) and (max-width: 1100px) {
  .btnall {
    font-size: 16px;
    padding: 12px 24px;
  }
  .container {
    width: 100% !important;
    max-width: 100% !important;
    padding-inline: 4% !important;
  }
}

@media (max-width: 767px) {
  .mginline {
    margin-inline: 4%;
  }
  input {
    padding: 0.35rem;
  }
  label {
    font-size: 12px;
    padding-bottom: 5px;
  }
  .btnall {
    font-size: 14px;
    padding: 12px 12px;
  }
}
@media (min-width: 425px) and (max-width: 768px) {
  .btn-text {
    color: #01004c !important;
    font-weight: 600 !important;
    font-family: "Urbanist" !important;
    font-size: 18px !important;
  }
}
@media (min-width: 768px) and (max-width: 1440px) {
  .btn-text {
    color: #01004c !important;
    font-weight: 600 !important;
    font-family: "Urbanist" !important;
    font-size: 20px !important;
  }
}

.custom-swal-popup {
  border-radius: 1rem;
  padding: 2rem;
  font-family: "Urbanist";
  box-shadow: 0 4px 12px rgba(223, 180, 180, 0.15);
}

.custom-swal-button {
  background-color: #ff6600 !important;
  color: #fff !important;
  border-radius: 0.5rem !important;
  padding: 0.6rem 1.2rem !important;
  font-weight: bold !important;
  font-size: 1rem !important;
}

/* Loader */
.global-loader {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  background-color: rgba(254, 251, 249, 0.466);
  padding: 2rem;
  border-radius: 10px;
}

/* Dialog */
::ng-deep .custom-dialog-container .mat-dialog-container {
  width: 100vw !important;
  max-width: 100vw !important;
  padding: 4px;
  border-radius: 12px !important;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
  background-color: white;
}

/* Scroll-top button */
.scroll-top-btn {
  position: absolute;
  width: 62px;
  height: 62px;
  right: 5%;
  top: -36px;
  border-radius: 52px;
  background-color: #e06315;
  color: white;
  border: 2px solid #e06315;
}

.scroll-top-btn:hover {
  background-color: #ff873c;
}

/* Banner */
.hero-banner {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 50vh;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  color: white;
}

.banner-content {
  background: rgba(0, 0, 0, 0);
  border-radius: 10px;
}

.select-container .custom-ng-select {
  width: 100%;
  background-color: #fff;
  border: 1px solid #d1d5db;
  border-radius: 6px;
  font-family: "Inter", sans-serif;
  font-size: 0.875rem;
  height: 100%;
  transition: border-color 0.2s ease, box-shadow 0.2s ease;
}

.select-container .custom-ng-select.ng-select-focused .ng-select-container {
  border-color: #3b82f6;
  box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.1);
}

.select-container .custom-ng-select .ng-dropdown-panel {
  max-height: 100px !important;
  overflow-y: auto !important;
  border-radius: 6px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.custom-ng-select .ng-select-container::after {
  content: "\25BC";
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  font-size: 12px;
  pointer-events: none;
}

.custom-ng-select.ng-select-opened .ng-select-container::after {
  transform: translateY(-50%) rotate(180deg);
}
.ng-select div,
.ng-select input,
.ng-select span {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: white;
  padding: 1px;
}
.ng-select .ng-select-container .ng-value-container .ng-input > input {
  box-sizing: content-box;
  background: none transparent;
  border: 0 none;
  box-shadow: none;
  outline: none;
  padding: 0;
  cursor: default;
  width: 100%;
  padding: 2% !important;
}

.subscribe-form[_ngcontent-ng-c2407888462]
  button[_ngcontent-ng-c2407888462]:disabled {
  background-color: #f60;
  color: #fff;
  cursor: pointer !important;
}
@media (max-width: 767px) {
  .banner-header {
    font-size: 26px;
    margin-top: 7%;
  }
  .sub-heading {
    font-size: 14px;
  }
  .icon-img,
  .card-icon {
    width: 34px !important;
    height: 34px !important;
    border-radius: 1% !important;
    object-fit: contain;
  }
  .container {
    width: 100% !important;
    max-width: 100% !important;
    padding-inline: 4% !important;
  }
}
.orange-spinner circle {
  stroke: #eb7124 !important;
}
/* //checkbox */

input[type="checkbox"] {
  accent-color: #eb7124;
}
.form-check-input:checked {
  background-color: #eb7124 !important;
  border-color: #eb7124 !important;
}
.form-check-input:focus {
  border-color: #eb7124 !important;
  box-shadow: 0 0 0 0.25rem #eb702481 !important;
}

@media(max-width:500px){
  .scroll-top-btn {
    position: absolute;
    width: 50px;
    height: 50px;
    right: 5%;
    top: -24px;
  }
}



@media (min-width:767px) and (max-width:1200px){
  .carousel-control-next {
    right: -15px !important;
}


.carousel-control-prev {
    left: -15px !important;
}

}
@media (max-width: 767px) {
  .carousel-control-prev,
  .carousel-control-next {
    display: none !important;
  }
}
