  <app-banner
    [title]="'Join our Network'"
    [subtitle]="'With Wealthmax, you’re not just joining a network — you’re becoming part of a community committed to excellence.'"
  [desktopImage]="'/desktop image/network.webp'"
[mobileImage]="'/Mobile img/join our network.webp'"
    >
  </app-banner>

    <!-- [buttons]="[
      {
        label: 'Join Us',
        class: 'btn btn-lg bg-white txtorange',
        action: 'dialog'
      }
    ]" -->
<app-network-route-btns />

<app-network-main-cards />



<div>
  <div class="container mgtop">
    <div class="row">
      <div class="col-12 col-lg-6">
        <h2 class="txtorange heading-txt">
          Wealthmax Network Package
        </h2>
        <div class="textSize text-justify">
          <p>
          In ever evolving landscape of Financial Services, it is our pleasure
          to guide you through a network designed to elevate your practice and
          amplify your Impact. Our network is more than a collaborative
          platform, it’s a community where innovation meets tradition, and where
          your aspiration finds the support they deserve.
        </p>
        <p>
          By seamlessly integrating into the Wealthmax ecosystem, our network
          opens doors to unparalleled opportunities for firms seeking to make a
          mark in the financial industry, including access to a diverse range of
          Protection and Mortgage products as well as the opportunity to offer advice on
          Pensions and Wills planning.
        </p>
        </div>
      </div>
      <!-- Right side images -->
      <div class="col-12 col-lg-6 mt-3">
        <div class="row">
          <div class="d-flex position-relative image-section">
            <!-- Left big image -->
            <div class="img-box big-img h-100 me-1">
              <img
                src="nw/img1nw.png"
                alt="Main Image"
                class="animated-img main-img"
                loading="eager"
              />
            </div>

            <!-- Right stacked images -->
            <div class="col-6 d-flex flex-column">
              <div class="img-box small-img flex-fill mb-2">
                <img
                  src="/nw/topImg.svg"
                  alt="Top Image"
                  class="animated-img top-img"
                  loading="eager"
                />
              </div>
              <div class="img-box small-img flex-fill">
                <img
                  src="/nw/Frame.svg"
                  alt="Bottom Image"
                  class="animated-img bottom-img"
                  loading="eager"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>




<!-- a code -->
<div class="container mgtop">
  <div class="my-6 p-3 p-lg-5 shadow rounded-5 bg-color">
    <div class="row align-items-center g-4">
      <!-- Left: Image -->
      <div class="col-lg-6 d-flex justify-content-center order-2 order-lg-1 mt-4">
        <img
          src="/nw/net-support.png"
          alt="Support Person"
          class="img-fluid"
          style="max-width: 390px;width: 100%"
        />
      </div>

      <!-- Right: Content -->
      <div class="col-lg-6 order-1 order-lg-2">
        <h3
          class="heading-txt text-orange fw-semibold mb-3 text-lg-start text-center"
        >
          Our Support Suit Covers
        </h3>
        <p class="text-Size mb-4 text-lg-start text-justify">
          Joining the Wealthmax Network is your gateway to a thriving career in
          the financial industry. Our Network package offers you a comprehensive
          compliance umbrella authorized by the Financial Conduct Authority.
        </p>

        <div class="d-flex align-items-center mb-3">
           <img src="\nw\icon.png">
          <span class="text-Size ms-2">Onboarding support</span>
        </div>

        <div class="d-flex align-items-center mb-3 ">
        <img src="\nw\icon.png">
          <span class="text-Size ms-2">Training and Development</span>
        </div>

        <div class="d-flex align-items-center mb-3">
          <img src="\nw\icon.png">
          <span class="text-Size ms-2">Access to our Product Proposition</span>
        </div>

        <div class="d-flex align-items-center mb-3">
           <img src="\nw\icon.png">
          <span class="text-Size ms-2">Marketing Library Support</span>
        </div>

        <div class="d-flex align-items-center">
         <img src="\nw\icon.png">
          <span class="text-Size ms-2">CRM and Compliance Support</span>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="container mgtop">
  <div class="hero-wrapper">
    <div
      class="border hero-card row align-items-center justify-content-center m-auto p-3 p-md-5"
    >
      <!-- Left Section -->
      <div class="col-12 col-md-7 order-2 order-md-1">
        <h1 class="heading-txt text-white text-center text-md-start">
          Your Path to Financial Freedom with Wealthmax
        </h1>
        <p class="text-Size  text-center text-md-start">
          At Wealthmax we believe that financial independence is within your
          reach. Our expert financial advisers are committed to guiding you
          through every step of your wealth-building journey.
        </p>
        <div class="buttn d-flex align-items-center justify-content-center justify-content-md-start">
          <button class="btnall bgcolor"  routerLink="/contact-us" >Contact Us</button>
        </div>
      </div>

      <!-- Right Section -->
      <div class="col-12 col-md-5 order-1 order-md-2 text-center mb-3">
        <img
          src="nw/estate planning.png"
          alt="Wealthmax Model"
          class="img-fluid"
        />
      </div>
    </div>
  </div>
</div>

<div class="container mgtopbottom">
  <div class="text-center">
    <h3 class="heading-txt text-center">
      Unlock the Opportunities with Wealthmax Network
    </h3>
    <p class="text-Size text-center px-3 px-xl-2">
      Join a team of dedicated financial professionals committed to empowering
      individuals and families with tailored solutions, expert guidance, and
      long-term financial security.
    </p>

    <!-- Centered Button -->
    <div class="d-flex justify-content-center">
      <button class="btnall d-inline-flex align-items-center" routerLink="/contact-us">
        Request a Callback
        <img src="\howarewe\Call.svg" class="ms-2" alt="Call Icon" />
      </button>
    </div>
  </div>
</div>
