.container {
  overflow: visible !important;
}
.image-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-box {
  overflow: hidden;
  border-radius: 6px;
}

.main-img {
  width: 97%;
  height: 370px;
  margin-right: 4px;
  object-fit: cover;
}

.top-img {
  width: 90%;
  height: 292px;
  object-fit: cover;
}

.bottom-img {
  width: 90%;
  height: 70px;
  object-fit: cover;
}

.bgcolor {
  background-color: white;
  color: #ff6600dc;
}

.bgcolor:hover {
  background-color: white;
  color: #ff6600dc;
}
.bg-color {
  box-shadow: 0px 0px 19px 0px rgba(235, 113, 36, 0.15) !important;
}
/* Hover effect */
.animated-img {
  transition: transform 0.3s ease;
}

.animated-img:hover {
  transform: scale(1.03);
}
.ls-1 {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
}

.ls-1 > img {
  height: 100%;
  width: 100%;
}

.ls-2 {
  position: absolute;
  right: 0;
}
 @media (max-width: 1400px) {
 .bottom-img {
  width: 90%;
  height: 64px;
  object-fit: cover;
} 
 }

/* Responsive tweaks */
 @media (max-width: 768px) {
  .big-img {
    min-height: 200px;
  }
  .small-img {
    min-height: 100px;
  }
  /* .img-box img {
    width: 100%;
    height: 98%;
    object-fit: fill; 
    display: block;
  } */
} 
.animated-img {
  opacity: 0;
  transform: scale(0.9); 
  animation: fadeInZoom 1.2s ease-out forwards;
}
 @media (max-width: 767px) {
  /* .img-box img {
    width: 100%;
    height: 90%;
  } */
  .img-fluid {
    width: 50%;
  }
}
/* @media (max-width: 450px) {
  .img-box img {
    width: 100%;
    height: 78%;
  }
} */


/* Keyframes for fade + zoom effect */
@keyframes fadeInZoom {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.hero-card {
  background-image: url("/nw/Section.webp");
  /* background-color:#EB7124 ; */
  background-size: cover; /* Fill container, crop if needed */
  background-repeat: no-repeat;
  position: relative;
  color: #fff;
  height: auto;
  width: 100%;
  border-radius: 50px;
}
@media (min-width:768px) and (max-width: 1200px) {
 .main-img {
  width: 97%;
  height: 336px;
}

.top-img {
  width: 90%;
  height: 270px;
}

.bottom-img {
  width: 90%;
  height: 55px;
}
}
 @media (max-width: 991px) {
  
.top-img {
  width: 90%;
  height: 245px;
}
 .bottom-img {
  width: 90%;
  height: 80px;
  object-fit: cover;
} 
 }

@media (min-width:480px) and (max-width:767px) {
 .main-img {
  width: 97%;
  height: 260px;
}

.top-img {
  width: 92%;
  height: 195px;
}

.bottom-img {
  width: 92%;
  height: 56px;
}
}

@media(max-width:479px) {
 .main-img {
  width: 97%;
  height: 196px;
}

.top-img {
  width: 90%;
  height: 150px;
}

.bottom-img {
  width: 90%;
  height: 38px;
}
}