<div class="container">
  <div class="cont_btn">
    <div class="effects">
      <div class="card h-100 position-relative cards">
        <div class="card-img-top"></div>
        <div
          class="card-img-overlay d-flex flex-column justify-content-between"
        >
          <div class="bg-img position-relative">
            <img
              class="iconsimg mb-3 mt-3 mt-l"
              src="nw/AR.svg"
              alt="Join as Appointed Representative icon"
            />
            <h4 class="card-title">Join as Appointed Representative</h4>
            <p class="card-text">
              Be part of a team that values expertise and integrity. Grow your
              career with support every step of the way.
            </p>
          </div>
          <a
            routerLink="/network/appointed-representative"
            class="cta-link btn_nw"
            >Get Started Now →</a
          >
        </div>
      </div>
    </div>

    <div class="effects">
      <div class="card h-100 position-relative cards">
        <div class="card-img-top"></div>
        <div
          class="card-img-overlay d-flex flex-column justify-content-between"
        >
          <div class="bg-img">
            <img
              class="iconsimg mb-3 mt-3"
              src="nw/Introducer.svg"
              alt="Join as Introducer icon"
            />
            <h4 class="card-title">Join as Introducer</h4>
            <p class="card-text">
              Connect clients with the right solutions easily. Earn rewards
              while building meaningful relationships.
            </p>
          </div>
          <a href="/network/introducer" class="cta-link btn_nw"
            >Get Started Now →</a
          >
        </div>
      </div>
    </div>

    <div class="effects">
      <div class="card h-100 position-relative cards">
        <div class="card-img-top"></div>
        <div
          class="card-img-overlay d-flex flex-column justify-content-between"
        >
          <div class="bg-img">
            <img
              class="iconsimg mb-3 mt-3"
              src="nw/Self Employed Adviser.svg"
              alt="Join as Self Employed Adviser icon"
            />
            <h4 class="card-title">Join as Self Employed Adviser</h4>
            <p class="card-text">
              Work independently while leveraging our resources. Deliver trusted
              advice and expand your client base.
            </p>
          </div>
          <a href="/network/self-employed-adviser" class="cta-link btn_nw"
            >Get Started Now →</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
